<div class="prz-block-g-wp ovs">
  <div class="prz-block-g">
    <div class="prz-wp-head-a prz-brd-b wp-btw_cen">
      <h2 class="prz-h3-c">Station Control</h2>

      <div>
        <p class="prz-p">Lorem ipsum dolor.</p>
        <p class="prz-p">Lorem ipsum dolor.</p>
      </div>
    </div>


    <div class="prz-block-g-head-a wp-cen">
      <div>
        <h3 class="prz-h3-a dibM">Jingles</h3>

        <label class="prz-switch mh25">
          <input type="checkbox">
          <span class="prz-switch-btn"></span>
        </label>

        <h3 class="prz-h3-a dibM inactive">Tracks</h3>
      </div>
    </div>


    <div class="prz-block-g-body-a pall10">
      <div class="prz-block-g-table">
        <div class="prz-block-g-table-head">
          <div class="prz-block-g-table-head-a">Artist Name</div>
          <div class="prz-block-g-table-head-b">Jingle Name</div>
          <div class="prz-block-g-table-head-c">Release Date</div>
          <div class="prz-block-g-table-head-d">Length</div>
        </div>
        <div class="prz-block-g-table-body">
          <div class="prz-block-g-table-body-item mv10" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
            <div class="prz-block-g-table-body-item-a">
              <button class="prz-btn-o mr10"><b class="prz-i-dragdrop"></b></button>
              <span class="dibM">Alexey Yurkov</span>
            </div>
            <div class="prz-block-g-table-body-item-b">Shot gun</div>
            <div class="prz-block-g-table-body-item-c">11.05.16</div>
            <div class="prz-block-g-table-body-item-d">00:06</div>
          </div>
        </div>
      </div>
    </div>


    <div class="prz-block-g-footer-a">
      <button class="prz-btn-b bs1">Add New Jingle</button>
    </div>
  </div>





  <div class="prz-block-g bg1">
    <div class="prz-wp-head-a wp-btw_cen">
      <h2 class="prz-h3-a">
        <b class="prz-i-playlist mr10"></b>
        <span>Personalized Playlist</span>
      </h2>

      <div>
        <h4 class="prz-h4-b">
          <span class="dibM">Total time</span>
          <span class="prz-h4-b-time ml20">35:55</span>
        </h4>
      </div>
    </div>


    <div class="prz-block-g-body-b">
      <div class="prz-block-g-table">
        <div class="prz-block-g-table-head bg1">
          <div class="prz-block-g-table-head-a c1">Artist Name</div>
          <div class="prz-block-g-table-head-b c1">Jingle Name</div>
          <div class="prz-block-g-table-head-c c1">Release Date</div>
          <div class="prz-block-g-table-head-d c1">Length</div>
        </div>

        <div class="prz-block-g-table-body">
          <div class="prz-block-g-table-body-item mv10" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
            <div class="prz-block-g-table-body-item-a">
              <button class="prz-btn-o mr10"><b class="prz-i-dragdrop"></b></button>
              <span class="dibM">Alexey Yurkov</span>
            </div>
            <div class="prz-block-g-table-body-item-b">Shot gun</div>
            <div class="prz-block-g-table-body-item-c">11.05.16</div>
            <div class="prz-block-g-table-body-item-d">00:06</div>
          </div>

          <div class="prz-block-g-table-body-drop">Drag and Drop Jingle / Track Here</div>
        </div>
      </div>
    </div>


    <div class="prz-block-g-footer-b">
      <div>
        <h5 class="prz-h5 mb5">Lorem ipsum dolor.</h5>
        <h6 class="prz-h6">Lorem ipsum dolor sit.</h6>
      </div>
      <div>
        <span class="prz-link-a mr40">Cancel</span>
        <button class="prz-btn-b grd1 inactive-a">Send</button>
      </div>
    </div>
  </div>
</div>
