<div class="prz-player-aside">
  <div class="prz-player-info">
    <figure class="prz-player-info-img" style="background: url(http://dummyimage.com/30x30/ad0a0a/ffffff) center no-repeat;"></figure>


    <div class="prz-player-info-text">
      <h4 class="prz-h4">Lorem ipsum sit.</h4>
      <a href="" class="prz-h5 prz-link">Lorem ipsum.</a>
    </div>
  </div>
</div>

<div class="prz-player-middle">
  <div class="prz-player-middle-btns">
    <button class="prz-btn-a"><b class="prz-i-heart"></b></button>
    <button class="prz-btn-a "><b class="prz-i-plus"></b></button>
  </div>
  <button class="prz-btn-a "><b class="prz-i-play"></b></button>
  <div class="prz-player-middle-btns">
    <button class="prz-btn-a"><b class="prz-i-playlist"></b></button>
    <button class="prz-btn-a "><b class="prz-i-history"></b></button>
  </div>
</div>

<div class="prz-player-aside">
  <div class="prz-player-vol">
    <button class="prz-btn-a" (click)="range = 0"><b class="prz-i-volume"></b></button>

    <label class="prz-range">
      <input type="range" [value]="range" (input)="range = $event.target.value">
      <span [style.width]="range + '%'"></span>
    </label>

    <button class="prz-btn-a" (click)="range = 100"><b class="prz-i-volume1"></b></button>
  </div>
</div>




<!----------------------------------PLAYER MODAL---------------------------------->

<div class="prz-player-modal" style="display: none;">
  <!--<div class="prz-player-modal-logos">-->
    <!--<img src="i/logo.png" alt="">-->
    <!--<img src="i/logo.png" alt="">-->
    <!--<img src="i/logo.png" alt="">-->
    <!--<img src="i/logo.png" alt="">-->
    <!--<img src="i/logo.png" alt="">-->
  <!--</div>-->


  <div class="prz-player-modal-last">
    <div class="prz-content-bottom-head wp-btw ph20 mt10">
      <div class="prz-content-bottom-head-title">
        <h3 class="prz-h3-b">
          <b class="prz-i-tracks mr10"></b>
          <span class="dibM">Latest tracks</span>
        </h3>
      </div>



      <div class="prz-content-bottom-btns">
        <button class="prz-btn-a inactive"><b class="prz-i-triangle_l"></b></button>
        <button class="prz-btn-a"><b class="prz-i-triangle"></b></button>
      </div>
    </div>

    <div class="prz-player-modal-last-list ovsx">
      <div class="prz-chart-item" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
        <div class="prz-chart-item-img" style="background: url(http://dummyimage.com/48x48/ad0a0a/ffffff) center no-repeat;"></div>

        <div class="prz-chart-item-info">
          <h4 class="prz-h4">Lorem ipsum sit.</h4>
          <h5 class="prz-h5">Lorem ipsum.</h5>
        </div>

        <div class="prz-chart-item-plus">
          <b class="prz-i-plus-W"></b>
        </div>
      </div>
    </div>
  </div>
</div>
