<div class="h100p wp-btw">
  <div class="prz-block-f pb70">
    <div class="prz-box-n">
      <div class="prz-content-head-b tar">
        <button class="prz-btn-a"><b class="prz-i-close"></b></button>
      </div>

      <div class="prz-box-n-body" style="background: url(i/def.jpg) center no-repeat;"></div>
    </div>


    <div class="prz-block-f-wp">
      <h1 class="prz-h1-b mt40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
      <p class="prz-p-c mb35">
        by
        <span class="prz-p-c-mark mr20">Lorem ipsum dolor.</span>
        June 16 at 4:05 PM
      </p>

      <div class="prz-p-a">
        <div class="bold mb20">Lorem ipsum dolor sit amet,  adipisicing elit. Aliquid amet assumenda, atque consequuntur delectus dicta ducimus ipsa laboriosam molestiae mollitia numquam perspiciatis, quos, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>

        <div class="mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda, atque consequuntur dele, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>

        <div class="mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda, atque consequuntur dele, repellat reprehenderit soluta totam ullam? Neque, omnis! Aliquid amet assumenda, atque consequuntur delectus dicta ducimus ipsa laboriosam molestiae mollitia numquam perspiciatis, quos, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>
      </div>


      <div class="prz-sliders-a mb40">
        <div class="prz-sliders-a-prev"><button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button></div>
        <div class="prz-sliders-a-next"><button class="prz-btn-a"><b class="prz-i-triangle"></b></button></div>

        <div class="prz-sliders-a-box">
          <div class="prz-sliders-a-box-item" style="background: url(i/def.jpg) center no-repeat;"></div>
        </div>
      </div>


      <div class="prz-p-a">
        <div class="bold mb20">Lorem ipsum dolor ng llam? Neque, omnis!</div>

        <div class="mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda, atque consequuntur dele, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>

        <div class="bold mb20">Lorem ipsum dolor sit amet,  adipisicing elit. Aliquid amet assumenda, atque consequuntur delect, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>

        <div class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda, atque consequuntur dele, repellat reprehenderit soluta totam ullam? Neque, omnis! Aliquid amet assumenda, atque consequuntur delectus dicta ducimus ipsa laboriosam molestiae mollitia numquam perspiciatis, quos, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>
      </div>


      <div class="prz-quote">
        <div class="prz-quote-text">Lorem ipsum dolodicta eum incidunt nam porro tempore veniam. Fugiat labore officiis recusandae!</div>
        <div class="prz-quote-from">- Wiki</div>
      </div>


      <div class="prz-p-a">
        <div class="mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda, atque consequuntur dele, repellat reprehenderit soluta totam ullam? Neque, omnis! Aliquid amet assumenda, atque consequuntur delectus dicta ducimus ipsa laboriosam molestiae mollitia numquam perspiciatis, quos, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>

        <div class="mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda, atque consequuntur dele, repellat reprehenderit soluta totam ullam? Neque, omnis!</div>
      </div>


      <div class="prz-tags">
        Tags:
        <a href="" class="prz-tags-item">Lorem,</a>
        <a href="" class="prz-tags-item">ipsum,</a>
        <a href="" class="prz-tags-item">dolor</a>
      </div>

      <div class="bold mt45">
        <div class="dibM mr10">Share with your friends</div>
        <div class="dibM"><a href="" class="prz-btn-f"><b class="prz-i-f-a"></b></a></div>
        <div class="dibM"><a href="" class="prz-btn-f"><b class="prz-i-t-b"></b></a></div>
        <div class="dibM"><a href="" class="prz-btn-f"><b class="prz-i-g-a"></b></a></div>
      </div>
    </div>


    <hr class="prz-hr">
    <div class="prz-more-a">
      <div class="prz-more-a-head wp-btw_cen">
        <h3 class="prz-h3-c">Lorem ipsum dolor.</h3>

        <div class="prz-main-bottom-btns pn">
          <button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button>
          <button class="prz-btn-a"><b class="prz-i-triangle"></b></button>
        </div>
      </div>

      <div class="prz-more-a-body-wp">
        <div class="prz-more-a-body">
          <a href="" class="prz-box-j_one mr10" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
            <div class="prz-box-j-bg" style="background: url(i/def.jpg) center no-repeat;"></div>

            <div class="prz-box-j-footer">
              <h3 class="prz-h3-b">Lorem ipsum consectetur.</h3>
              <p class="prz-p">Jun 21, 2016</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <hr class="prz-hr">


    <div class="wp-btw_cen ph40 pb15 pt40">
      <h3 class="prz-h3-c">Lorem ipsum dolor.</h3>
      <h3 class="prz-h4">18 comments</h3>
    </div>


    <div class="prz-block-f-wp">
      <div class="prz-p-a">
        <div class="prz-input-ta">
          <textarea style="min-height: 65px;"></textarea>
        </div>

        <div class="wp-btw_cen mv10">
          <span class="prz-link-a">Cancel</span>
          <button class="prz-btn-b grd1 inactive-a">Continue</button>
        </div>


        <div class="mt20">
          <div class="prz-box-m mb40" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
            <div class="prz-box-m-ava">
              <div class="prz-box-m-ava-bg" style="background: url(i/def.jpg) center no-repeat;"></div>
            </div>
            <div class="prz-box-m-text">
              <div class="prz-box-m-text-from">
                Lorem ipsum. <span>18 minutes ago</span>
              </div>
              <div class="prz-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque autem et excepturi laborum magni neque perspiciatis quidem reprehenderit voluptates.</div>
            </div>
          </div>
        </div>

        <div class="tac">
          <a href="" class="prz-btn-b grd1">Load more</a>
        </div>
      </div>
    </div>
  </div>


  <div class="prz-block-b pb70">
    <div class="prz-block-b-body h100p">
      <div class="prz-block-b-body-del">
        <div class="prz-h3-a">Events you must go</div>
      </div>

      <div class="pt20 ph20">
        <div class="prz-box-h w100p" *ngFor="let i of [0,1,2]">
          <span class="prz-box-h-day">
              <b>30</b>
              JUN
          </span>
          <span class="prz-box-h-bg" style="background: url(http://dummyimage.com/255x315/333333/ffffff) center no-repeat;"></span>
          <span class="prz-box-h-footer">
              <span class="prz-h3-b">Lorem ipsum.</span>
              <span class="prz-p">Lorem ipsum / <span>Lorem ipsum</span></span>
          </span>

          <span class="prz-box-h-hover">
              <span class="prz-box-middle">
                  <button class="prz-btn-d mb10">Buy Tickets</button>
                  <button class="prz-btn-b_o w100p">Event Tickets</button>
              </span>
          </span>
        </div>
      </div>

      <div class="prz-block-b-body-del">
        <div class="prz-h3-a">Events you must go</div>
      </div>

      <div class="pt20 ph20">
        <a href="" class="prz-box-j" *ngFor="let i of [0,1,2]">
          <div class="prz-box-j-bg" style="background: url(i/def.jpg) center no-repeat;"></div>

          <div class="prz-box-j-footer">
            <h3 class="prz-h3-b">Lorem ipsum consectetur.</h3>
            <p class="prz-p">Jun 21, 2016</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
