<div class="wp-btw ph100 pt50 ovs h100p">
  <div class="w50p">
    <h3 class="prz-h3-a">Customer Information</h3>


    <label class="prz-input">
      <span class="prz-input-title">E-mail</span>
      <span class="prz-input-in"><input type="text" placeholder="E-mail..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">first name</span>
      <span class="prz-input-in"><input type="text" placeholder="First Name..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Second Name</span>
      <span class="prz-input-in"><input type="text" placeholder="Second Name..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Company</span>
      <span class="prz-input-in"><input type="text" placeholder="Company..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Address</span>
      <span class="prz-input-in"><input type="text" placeholder="Address..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Apt, suite, etc.</span>
      <span class="prz-input-in"><input type="text" placeholder="Apt..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">City</span>
      <span class="prz-input-in"><input type="text" placeholder="City..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Country</span>
            <span class="prz-select">
                <button class="prz-select-btn">
                    <span>Country...</span>
                    <b class="prz-i-triangle_b"></b>
                </button>

                <span class="prz-select-drop">
                    <button class="prz-select-drop-item">Middle</button>
                    <button class="prz-select-drop-item">Bottom</button>
                </span>
            </span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Postal Code</span>
      <span class="prz-input-in"><input type="text" placeholder="Code..."></span>
    </label>
    <label class="prz-input">
      <span class="prz-input-title">Phone</span>
      <span class="prz-input-in"><input type="text" placeholder="Phone..."></span>
    </label>


    <label class="prz-input tar pb90">
      <button class="prz-btn-b grd1">Continue</button>
    </label>
  </div>

  <div class="w50p">
    <h3 class="prz-h3-a">Order Information</h3>


    <div class="prz-checko-box">
      <div class="prz-box-c">
        <div class="prz-box-c-img">
          <div class="prz-box-c-img-i" style="background: url(http://dummyimage.com/70x75/333333/ffffff) center no-repeat;"></div>
        </div>

        <div class="prz-box-c-info">
          <h5 class="prz-h3-d">
            <b>Lorem ipsum dolor.</b>
            <span>$ 35.00</span>
          </h5>
          <h6 class="prz-h4-a">Lorem ipsum.</h6>
          <h6 class="prz-h4-a">Lorem ipsum.</h6>
          <h6 class="prz-h4-a">Lorem ipsum.</h6>
        </div>
      </div>
      <div class="prz-box-c">
        <div class="prz-box-c-img">
          <div class="prz-box-c-img-i" style="background: url(http://dummyimage.com/70x75/333333/ffffff) center no-repeat;"></div>
        </div>

        <div class="prz-box-c-info">
          <h5 class="prz-h3-d">
            <b>Lorem ipsum dolor.</b>
            <span>$ 35.00</span>
          </h5>
          <h6 class="prz-h4-a">Lorem ipsum.</h6>
          <h6 class="prz-h4-a">Lorem ipsum.</h6>
          <h6 class="prz-h4-a">Lorem ipsum.</h6>
        </div>
      </div>
    </div>


    <hr class="prz-hr">
    <div class="prz-box-d">
      <h5 class="prz-h3-d mv18">
        <span>Lorem ipsum dolor.</span>
        <span>$ 35.00</span>
      </h5>
      <h5 class="prz-h3-d mv18">
        <span>Lorem ipsum dolor.</span>
        <span>$ 35.00</span>
      </h5>
      <h5 class="prz-h3-d mv18">
        <span>Lorem ipsum dolor.</span>
        <span>-</span>
      </h5>
      <h5 class="prz-h3-d mv18">
        <span>Lorem ipsum dolor.</span>
        <span>$ 935.00</span>
      </h5>
    </div>
    <hr class="prz-hr">
    <div class="prz-box-d">
      <h5 class="prz-h3-d mv18">
        <span>Lorem ipsum.</span>
        <span>$ 9235.00</span>
      </h5>
    </div>
  </div>
</div>
