<div class="prz-bg-b" style="background: url(i/bg2.png) 0 0 no-repeat;"></div>


<div class="h100p">
  <div class="prz-main-top ovs">
    <div class="prz-wp-d ph75">
      <div class="pt85 tac mb80">
        <h1 class="prz-h1-a mn">Lorem ipsum dolor sit.</h1>
        <p class="prz-p">Lorem ipsum.</p>
      </div>

      <div class="prz-box-o pb70">
        <div class="prz-box-o-item_sdw">
          <div class="prz-box-o-item-btns">
            <button class="prz-btn-a"><b class="prz-i-triangle_t"></b></button>
            <button class="prz-btn-a"><b class="prz-i-triangle_b"></b></button>
          </div>

          <div class="prz-box-o-item-a-wp">
            <div class="prz-box-o-item-a mb20" *ngFor="let i of [0,1,2,3,4]">
              <div class="prz-box-o-item-a-img"><b class="prz-i-t-a"></b></div>

              <h4 class="prz-h4 mn">Lorem ipsum riosam, rem?</h4>
              <p class="prz-p">Lorem ipsum dolor sit.</p>
            </div>
          </div>
        </div>

        <div class="prz-box-o-item-bg">
          <div class="prz-box-o-item-bg-img" style="background: url(i/def.jpg) center no-repeat;"></div>
          <div class="prz-box-o-item-bg-air">
            <span class="prz-box-e-info-onAir">on Air</span>
            <p class="prz-p">12:00 12:45</p>
          </div>
        </div>

        <div class="prz-box-o-item">
          <div class="prz-box-o-item-b-wp">
            <a href="" class="prz-box-o-item-b mb20" *ngFor="let i of [0,1,2]">
              <div class="prz-box-o-item-b-img"><b class="prz-i-triangle"></b></div>

              <h4 class="prz-h4 mn">Lorem ipsum dsicingrem?</h4>
              <p class="prz-p">Lorem ipsum dolor sit.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="prz-main-bottom ovsy">
    <div class="prz-main-bottom-head">
      <div class="pl25">
        <h3 class="prz-h3-b">
          <b class="prz-i-tracks mr10"></b>
          <span class="dibM">Latest tracks</span>
        </h3>
      </div>


      <div class="prz-main-bottom-btns">
        <button class="prz-btn-a inactive"><b class="prz-i-triangle_l"></b></button>
        <button class="prz-btn-a "><b class="prz-i-triangle"></b></button>
      </div>
    </div>

    <div class="prz-main-bottom-latest pb70">
      <div class="prz-main-bottom-item" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
        <div class="prz-main-bottom-item-bg" style="background: url(i/def1.jpg) center no-repeat;"></div>

        <div class="prz-main-bottom-item-info">
          <div class="prz-main-bottom-item-info-text">
            <h4 class="prz-h4">Lorem ipsum sit.</h4>
            <h5 class="prz-h5">Lorem ipsum.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
