<div class="wp-btw prz-wp-d">
  <div class="prz-con-map" style="background: url(http://dummyimage.com/1170x1175/333333/ffffff) center no-repeat;background-size: cover;"></div>

  <div class="prz-wp-g h100p prz-brd-l">
    <div class="prz-wp-head-a wp-btw_cen prz-brd-b pl45">
      <h2 class="prz-h3-ico">
        <b class="prz-h3-ico-i prz-i-contact"></b>
        <span>Steve Aoki</span>
      </h2>
    </div>


    <div class="prz-wp-c ovs ph40">
      <label class="prz-input w100p">
        <span class="prz-input-title">YOUR NAME</span>
        <span class="prz-input-in"><input type="text" placeholder="Name..."></span>
      </label>
      <label class="prz-input w100p">
        <span class="prz-input-title">YOUR E-Mail</span>
        <span class="prz-input-in"><input type="text" placeholder="E-mail..."></span>
      </label>
      <label class="prz-input w100p">
        <span class="prz-input-title">YOUR phone</span>
        <span class="prz-input-in"><input type="text" placeholder="Phone..."></span>
      </label>
      <label class="prz-input w100p">
        <span class="prz-input-title">type</span>
          <span class="prz-select">
              <button class="prz-select-btn">
                  <span>Choose...</span>
                  <b class="prz-i-triangle_b"></b>
              </button>

              <span class="prz-select-drop">
                  <button class="prz-select-drop-item">Middle</button>
                  <button class="prz-select-drop-item">Bottom</button>
              </span>
          </span>
      </label>

      <label class="prz-input w100p">
        <span class="prz-input-title">Your message</span>
        <span class="prz-input-ta"><textarea placeholder="Message..."></textarea></span>
      </label>

      <label class="prz-check mt20">
        <input type="checkbox">
        <span class="prz-check-box"></span>
        <span class="prz-check-text">
            i agree to the terms & conditions
        </span>
      </label>

      <hr class="prz-hr mv30">

      <div class="wp-btw_cen pb90">
        <span class="prz-link-a">Cancel</span>
        <button class="prz-btn-b grd1 inactive-a">Continue</button>
      </div>
    </div>
  </div>
</div>
