<div class="prz-bg" style="background: url(i/bg1.png) 0 0 no-repeat;"></div>

<div class="relative h100p ovs">
  <div class="prz-drop-info">
    <h2 class="prz-h2">Thank you</h2>
    <p class="prz-p mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="prz-box-g">
      <h2 class="prz-box-g-h2">Lorem ipsum.</h2>
      <h3 class="prz-box-g-h3">Lorem ipsum dolor.</h3>
      <div class="prz-box-g-check"></div>
    </div>

    <hr class="prz-hr mv40">

    <div class="wp-btw_cen">
      <span class="prz-link-a">Cancel</span>
      <button class="prz-btn-b grd1 mn">Continue</button>
    </div>
  </div>
</div>
