<div class="prz-menu-head">
  <button class="prz-btn-a inactive"><b class="prz-i-triangle_l"></b></button>
  <div class="prz-menu-head-logos"><img src="i/logo.png" alt=""></div>
  <button class="prz-btn-a "><b class="prz-i-triangle"></b></button>
</div>

<div class="prz-menu-wp-a">
  <label class="prz-search">
    <input type="text" class="prz-search-input" placeholder="Search">
    <button class="prz-search-btn"><b class="prz-i-search"></b></button>
  </label>
</div>

<div class="prz-menu-wp">
  <a [routerLink]="['home']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu1"></b>
    <span class="prz-menu-link-name">Home</span>
  </a>
  <a [routerLink]="['listen']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu2"></b>
    <span class="prz-menu-link-name">Listen</span>
  </a>
  <a [routerLink]="['shows']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu3"></b>
    <span class="prz-menu-link-name">Shows</span>
  </a>
  <a [routerLink]="['resident']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu4"></b>
    <span class="prz-menu-link-name">Resident DJ's</span>
  </a>
  <a [routerLink]="['events']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu5"></b>
    <span class="prz-menu-link-name">Events</span>
  </a>
  <a [routerLink]="['news']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu6"></b>
    <span class="prz-menu-link-name">News</span>
  </a>
  <a [routerLink]="['shop']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu7"></b>
    <span class="prz-menu-link-name">Shop</span>
  </a>
  <a [routerLink]="['applications']" [routerLinkActive]="['active']" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu8"></b>
    <span class="prz-menu-link-name">Applications</span>
  </a>
</div>

<hr class="prz-hr">

<div class="prz-menu-wp pb90">
  <a href="" class="prz-menu-link">
    <b class="prz-menu-link-img prz-i-menu9"></b>
    <span class="prz-menu-link-name">More</span>
    <span class="prz-menu-link-toggle"><b class="prz-i-triangle_t"></b></span>
  </a>
  <!-- -->
  <a [routerLink]="['demo-drop']" [routerLinkActive]="['active']" class="prz-menu-link">
    <span class="prz-menu-link-name">Demodrop</span>
  </a>
  <a [routerLink]="['privacy']" [routerLinkActive]="['active']" class="prz-menu-link">
    <span class="prz-menu-link-name">Privacy Policy</span>
  </a>
  <a [routerLink]="['contacts']" [routerLinkActive]="['active']" class="prz-menu-link">
    <span class="prz-menu-link-name">Contacts</span>
  </a>
  <a [routerLink]="['jobs']" [routerLinkActive]="['active']" class="prz-menu-link">
    <span class="prz-menu-link-name">Jobs</span>
  </a>
</div>
