.prz{
  &-i{
    &-def {
      @extend .dibM;
      background-image: url(../public/i/spritesheet.png);
      background-repeat: no-repeat;
    }

    &-apple {
      @extend .prz-i-def;
      width: 16px;
      height: 20px;
      background-position: -4px -4px;
    }

    &-cart {
      @extend .prz-i-def;
      width: 20px;
      height: 16px;
      background-position: -28px -4px;
    }

    &-channels {
      @extend .prz-i-def;
      width: 19px;
      height: 12px;
      background-position: -56px -4px;
    }

    &-chart {
      @extend .prz-i-def;
      width: 17px;
      height: 16px;
      background-position: -83px -4px;
    }

    &-check {
      @extend .prz-i-def;
      width: 14px;
      height: 11px;
      background-position: -108px -4px;
    }

    &-check-a {
      @extend .prz-i-def;
      width: 14px;
      height: 11px;
      background-position: -130px -4px;
    }

    &-close {
      @extend .prz-i-def;
      width: 14px;
      height: 14px;
      background-position: -152px -4px;
    }

    &-contact {
      @extend .prz-i-def;
      width: 13px;
      height: 20px;
      background-position: -56px -26px;
    }

    &-dragdrop {
      @extend .prz-i-def;
      width: 15px;
      height: 9px;
      background-position: -108px -26px;
    }

    &-f {
      @extend .prz-i-def;
      width: 9px;
      height: 16px;
      background-position: -131px -26px;
    }

    &-f-a {
      @extend .prz-i-def;
      width: 9px;
      height: 16px;
      background-position: -148px -26px;
    }

    &-f-b {
      @extend .prz-i-def;
      width: 9px;
      height: 16px;
      background-position: -165px -26px;
    }

    &-g {
      @extend .prz-i-def;
      width: 16px;
      height: 16px;
      background-position: -4px -50px;
    }

    &-g-a {
      @extend .dibM;
      width: 16px;
      height: 16px;
      background: url(../public/i/icons/g-a.png) center no-repeat;
    }

    &-heart {
      @extend .prz-i-def;
      width: 15px;
      height: 14px;
      background-position: -28px -50px;
    }

    &-heart-a {
      @extend .prz-i-def;
      width: 15px;
      height: 14px;
      background-position: -77px -50px;
    }

    &-history {
      @extend .prz-i-def;
      width: 16px;
      height: 14px;
      background-position: -100px -50px;
    }

    &-map {
      @extend .prz-i-def;
      width: 20px;
      height: 20px;
      background-position: -124px -50px;
    }

    &-market {
      @extend .prz-i-def;
      width: 18px;
      height: 20px;
      background-position: -152px -50px;
    }

    &-menu1 {
      @extend .prz-i-def;
      width: 17px;
      height: 17px;
      background-position: -4px -78px;
    }

    &-menu2 {
      @extend .prz-i-def;
      width: 20px;
      height: 16px;
      background-position: -29px -78px;
    }

    &-menu3 {
      @extend .prz-i-def;
      width: 19px;
      height: 20px;
      background-position: -57px -78px;
    }

    &-menu4 {
      @extend .prz-i-def;
      width: 15px;
      height: 16px;
      background-position: -84px -78px;
    }

    &-menu5 {
      @extend .prz-i-def;
      width: 19px;
      height: 15px;
      background-position: -107px -78px;
    }

    &-menu6 {
      @extend .prz-i-def;
      width: 19px;
      height: 13px;
      background-position: -134px -78px;
    }

    &-menu7 {
      @extend .prz-i-def;
      width: 20px;
      height: 16px;
      background-position: -134px -99px;
    }

    &-menu8 {
      @extend .prz-i-def;
      width: 13px;
      height: 20px;
      background-position: -162px -78px;
    }

    &-menu9 {
      @extend .prz-i-def;
      width: 17px;
      height: 17px;
      background-position: -4px -106px;
    }

    &-menu9-a {
      @extend .prz-i-def;
      width: 17px;
      height: 17px;
      background-position: -29px -106px;
    }

    &-pause {
      @extend .prz-i-def;
      width: 12px;
      height: 19px;
      background-position: -54px -106px;
    }

    &-pauseB {
      @extend .prz-i-def;
      width: 12px;
      height: 19px;
      background-position: -74px -106px;
    }

    &-play {
      @extend .prz-i-def;
      width: 16px;
      height: 21px;
      background-position: -94px -106px;
    }

    &-playB {
      @extend .prz-i-def;
      width: 16px;
      height: 21px;
      background-position: -162px -106px;
    }

    &-playlist {
      @extend .prz-i-def;
      width: 20px;
      height: 15px;
      background-position: -118px -123px;
    }

    &-plus {
      @extend .prz-i-def;
      width: 14px;
      height: 14px;
      background-position: -4px -135px;
    }

    &-plus-W {
      @extend .prz-i-def;
      width: 14px;
      height: 14px;
      background-position: -152px -4px;
      transform: rotate(45deg);
    }

    &-quote {
      @extend .prz-i-def;
      width: 14px;
      height: 11px;
      background-position: -26px -135px;
    }

    &-search{
      @extend .dibM;
      width: 20px;
      height: 20px;
      background: url(../public/i/icons/search.png) center no-repeat;
    }

    &-sc {
      @extend .prz-i-def;
      width: 19px;
      height: 11px;
      background-position: -48px -135px;
    }

    &-sc-a {
      @extend .prz-i-def;
      width: 19px;
      height: 11px;
      background-position: -75px -135px;
    }

    &-t {
      @extend .prz-i-def;
      width: 16px;
      height: 14px;
      background-position: -146px -135px;
    }

    &-t-a {
      @extend .prz-i-def;
      width: 12px;
      height: 10px;
      background-position: -4px -157px;
    }

    &-t-b {
      @extend .prz-i-def;
      width: 16px;
      height: 14px;
      background-position: -24px -157px;
    }

    &-tracks {
      @extend .prz-i-def;
      width: 20px;
      height: 20px;
      background-position: -48px -157px;
    }

    &-triangle {
      @extend .prz-i-def;
      width: 8px;
      height: 11px;
      background-position: -102px -135px;

      &_l{
        @extend .prz-i-triangle;
        transform: rotate(180deg);
      }
      &_t{
        @extend .prz-i-triangle;
        transform: rotate(-90deg);
      }
      &_b{
        @extend .prz-i-triangle;
        transform: rotate(90deg);
      }
    }

    &-triangleB {
      @extend .prz-i-def;
      width: 8px;
      height: 11px;
      background-position: -170px -135px;
    }

    &-user {
      @extend .dibM;
      background: url(../public/i/icons/user.png) center no-repeat;
      width: 15px;
      height: 16px;
    }

    &-volume {
      @extend .prz-i-def;
      width: 9px;
      height: 14px;
      background-position: -99px -154px;
    }

    &-volume1 {
      @extend .prz-i-def;
      width: 16px;
      height: 14px;
      background-position: -116px -157px;
    }

    &-volumeB {
      @extend .prz-i-def;
      width: 9px;
      height: 14px;
      background-position: -170px -154px;
    }

    &-volumeB1 {
      @extend .prz-i-def;
      width: 16px;
      height: 14px;
      background-position: -140px -157px;
    }

    &-warning {
      @extend .prz-i-def;
      width: 13px;
      height: 13px;
      background-position: -174px -4px;
    }

    &-zoom {
      @extend .prz-i-def;
      width: 50px;
      height: 50px;
      background-position: -195px -4px;
    }

    &-zoom-a {
      @extend .prz-i-def;
      width: 50px;
      height: 50px;
      background-position: -186px -62px;
    }
  }

  &-wp{
    &-a{
      position: relative;
      width: 80%;
      height: 100%;
    }
    &-b{
      position: relative;
      width: 80%;
      height: 100%;
    }
    &-c{
      position: relative;
      height: 90%;
    }
    &-d{
      position: relative;
      height: 100%;
      width: 100%;
    }
    &-e{
      position: relative;
      height: 90%;
      padding: 0 14% 20px;
    }
    &-f{
      position: relative;
      height: 90%;
      padding: 0 0 90px;
    }
    &-g{
      position: relative;
      width: 37%;
    }


    &-head{
      &-a{
        padding: 0 20px;
        height: 10%;
        line-height: 10vh;
      }
    }
  }

  &-brd{
    &-l{
      border-left: 1px solid hsla(0,0%,100%,.15);
    }
    &-b{
      border-bottom: 1px solid hsla(0,0%,100%,.15);
    }
  }

  &-box{
    &-middle{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    &-a{
      position: relative;
      height: 48%;
      width: 250px;
      padding: 10px;
      border-radius: 3px;
      display: flex;
      background-size: cover !important;

      &-btns{
        position: absolute;
        left: 1px;
        top: 1px;
      }
      &-info{
        width: 100%;
        align-self: flex-end;
      }
    }
    &-deliver{
      width: 100%;
      height: 4%;
    }

    &-b{
      width: 255px;
      height: 315px;
      margin: 10px;
      display: flex;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      &-bg{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        transition: all 200ms linear;
      }

      &-info{
        width: 100%;
        padding: 15px 13px;
        position: relative;
        align-self: flex-end;
        background: rgba(0,0,0,.7);
        .prz-h4 {
          margin: 0 0 5px;
        }
      }

      &-hover{
        background: transparent;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 200ms linear;

        .prz-btn-b_w{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
      }

      &:hover{
        .prz-box-b-hover{
          background: rgba(119, 42, 232, 0.8);
          background: -moz-linear-gradient(left,  rgba(119, 42, 232, 0.8) 0%, rgba(239, 41, 178, 0.8) 100%);
          background: -webkit-linear-gradient(left,  rgba(119, 42, 232, 0.8) 0%, rgba(239, 41, 178, 0.8) 100%);
          background: linear-gradient(to right,  rgba(119, 42, 232, 0.8) 0%, rgba(239, 41, 178, 0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(119, 42, 232, 0.8)', endColorstr='rgba(239, 41, 178, 0.8)',GradientType=1 );

          z-index: 1;
          opacity: 1;
          visibility: visible;
          transform: scale(1.1);
        }
        .prz-box-b-bg{
          transform: scale(1.5) rotate(10deg);
        }
      }
    }

    &-c{
      @extend .wp-btw_cen;
      margin: 20px 0;
      &-img{
        width: 25%;
        height: 108px;
        padding: 10px;
        background: #fff;
        &-i {
          width: 100%;
          height: 100%;
          background-size: cover!important;
        }
      }
      &-info{
        width: 70%;
      }
    }

    &-d{
      margin: 10px 0;
      width: 100%;
      padding: 0 0 0 30%;
    }

    &-e{
      @extend .wp-btw_cen;
      margin: 0 0 10px;
      width: 100%;
      padding: 20px 40px 20px 30px;
      background: #242426;
      border-radius: 3px;
      transition: all 100ms linear;
      &-info{
        width: 14%;
        padding: 0 25px 0 0;
        &-h2, &-h3{
          color: #8a8b8d;
          padding: 0 0 0 10px;
          display: block;
        }
        &-h2{
          font-size: 18px;
          margin: 0 0 10px;
        }
        &-h3{
          font-size: 12px;
          text-transform: uppercase;
        }

        &-onAir{
          @extend .prz-btn-b;
          @extend .grd1;
          width: 100%;
          margin: 15px 0 0;
          text-transform: uppercase;
          font-size: 12px !important;
          &:before{
            @extend .dibM;
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #fff;
            margin: -2px 10px 0 0;
          }
        }
      }

      &-ava{
        width: 13%;
        height: 93px;
        background-size: cover !important;
      }

      &-text{
        width: 73%;
        padding: 0 0 0 20px;
        &-a{
          display: inline-block;
          font-size: 18px;
          margin: 0 0 10px;
          &:hover{
            color: #ef2cb8;
          }
        }
        &-p{
          display: block;
          font-size: 16px;
          line-height: 20px;
          color: #8a8b8d;
        }
      }

      &:hover{
        background: #29292b;
      }
      &.active{
        background: #3f3f41;
      }
    }

    &-f{
      @extend .dibM;
      width: 47%;
      margin: 0 0 20px 2%;
      background: #242426;
      padding: 20px;
      border-radius: 3px;
      font-size: 0;
      &-img{
        @extend .dibM;
        width: 48%;
        height: 275px;
        background: #000;
        padding: 20px 0;
        margin: 0 4% 0 0;
        border-radius: 3px;
        &-bg{
          width: 100%;
          height: 100%;
          background-size: contain !important;
        }
      }
      &-info{
        @extend .dibM;
        width: 48%;
        min-height: 270px;
        position: relative;
        padding: 8px 0;
        .prz-h3-c {
          margin: 0 0 15px;
        }
        .prz-p{
          margin: 0 0 45px;
          line-height: 16px;
        }
        .prz-btn-d{
          margin: 0 0 15px;
        }
        &-copy{
          position: absolute;
          right: 0;
          bottom: -5px;
          color: #8b8b8d;
          font-size: 12px;
        }
      }
    }

    &-g{
      background: rgba(255, 255, 255, 0.1);
      padding: 15px;
      text-align: left;
      border-radius: 3px;
      position: relative;
      &-h2{
        font-size: 15px;
        margin: 0 0 5px;
        padding: 0 40px 0 0;
      }
      &-h3{
        font-size: 14px;
        padding: 0 40px 0 0;
        color: #8b8b8d;
      }
      &-check{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        width: 32px;
        height: 32px;
        background: red;
        //background: url(../public/i/check.png) center no-repeat;
      }
    }

    &-h{
      @extend .dibM;
      width: 24%;
      height: 250px;
      margin: 0 0 20px;
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      &-day{
        @extend .grd1;
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 0;
        text-transform: uppercase;
        font-size: 10px;
        padding: 10px 15px;
        b{
          display: block;
          font-size: 18px;
        }
      }
      &-bg{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover !important;
      }
      &-footer{
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 15px;
        background: rgba(0, 0, 0, 0.7);
      }

      &-hover{
        background: linear-gradient(90deg,rgba(119,42,232,.8) 0,rgba(239,41,178,.8));
        position: absolute;
        z-index: 3;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        opacity: 0;
        transition: all 200ms linear;
      }

      &:hover{
        .prz-box-h-hover{
          opacity: 1;
        }
      }
    }

    &-i{
      @extend .wp-btw;
      background: #e7e7e7;
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      margin: 20px 0;
      &-date{
        padding: 35px 10px 10px 25px;
        width: 12%;
        font-size: 13px;
        line-height: 16px;
        color: #8b8b8d;
      }
      &-bg{
        width: 20%;
        background-size: cover !important;
      }
      &-info{
        padding: 38px 25px 30px 20px;
        width: 68%;
      }


      .prz-h3-c:hover{text-decoration: underline;}

      &:hover{
        background: #dddddd;
        .prz-h3-c{color: #e92cba;}
      }
    }

    &-j{
      display: block;
      border-radius: 3px;
      overflow: hidden;
      height: 150px;
      position: relative;
      margin: 0 0 10px;
      &-bg{
        width: 100%;
        height: 100%;
        background-size: cover !important;
      }

      &-footer{
        background: rgba(0,0,0,.7);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 15px;
      }

      &:hover{
        .prz-h3-b{color: #e92cba;}
      }


      &_one{
        @extend .prz-box-j;
        @extend .dibM;
        width: 235px;
      }
    }

    &-k{
      @extend .dibM;
      width: 24%;
      height: 250px;
      margin: 0 0 20px;
      padding: 15px;
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      background: #e9e7e8;

      &-h2{
        color: #272727;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 6px;
        display: inline-block;

        &:hover{
          text-decoration: underline;
        }
      }
      &-p{
        font-size: 12px;
        color: #8b8b8d;
        a, span{
          color: #272727;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }

      &-tags{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px;
      }

      &:hover{
        background: #d2d2d4;
      }
    }

    &-l{
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      &-bg{
        height: 300px;
        background-size: cover !important;
      }
      &-footer{
        @extend .wp-btw;
        background: #e7e7e7;
        &-date{
          padding: 25px 25px 20px;
          width: 33%;
          font-size: 13px;
          line-height: 16px;
          color: #8b8b8d;
        }
        &-info{
          padding: 25px 25px 20px 12px;
          width: 67%;
        }
      }

      .prz-h3-c:hover{text-decoration: underline;}

      &:hover{
        .prz-box-l-footer{background: #dddddd;}
        .prz-h3-c{color: #e92cba;}
      }
    }

    &-m{
      @extend .wp-btw;
      &-ava{
        width: 7%;
        &-bg{
          max-width: 30px;
          width: 100%;
          height: 30px;
          border-radius: 50%;
          background-size: cover !important;
        }
      }
      &-text{
        width: 93%;
        &-from{
          padding: 5px 0 0;
          font-size: 14px;
          font-weight: 700;
          color: white;
          span{
            margin: 0 0 0 20px;
            font-size: 14px;
            font-weight: 400;
            color: white;
          }
        }
      }
    }

    &-n{
      &-body{
        width: 100%;
        height: 320px;
        background-size: cover !important;
      }
    }

    &-o{
      @extend .wp-btw;
      &-item{
        width: 35%;
        max-height: 255px;
        position: relative;
        &-btns{
          position: absolute;
          right: 10px;
          top: -40px;
        }


        &-a{
          background: rgba(255, 255, 255, 0.1);
          padding: 10px 40px 10px;
          position: relative;
          border-radius: 3px;
          &-wp{
            overflow: hidden;
            height: 100%;
          }
          &-two{
            overflow: hidden;
            height: 100%;
            max-height: 130px;
          }
          &-img{
            position: absolute;
            left: 10px;
            top: 10px;
          }
        }


        &-b{
          display: block;
          background: rgba(255, 255, 255, 0.1);
          padding: 20px 40px 18px 20px;
          border-radius: 3px;
          position: relative;
          &-wp{
            overflow-y: scroll;
            height: 100%;
          }
          &-img{
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translate(0, -50%);
          }

          &:hover{
            background: rgba(255, 255, 255, 0.2);
          }
        }


        &_sdw{
          @extend .prz-box-o-item;
          &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            width: 100%;
            height: 30px;
            box-shadow: inset 0 -30px 20px -20px #151517;
          }
        }


        &-bg{
          width: 26%;
          &-img{
            width: 100%;
            height: 100%;
            background-size: cover !important;
          }
          &-air{
            @extend .wp-btw_cen;
            margin: 10px 0 0;
            .prz-box-e-info-onAir{
              width: auto;
              padding: 0 10px;
              margin: 0;
            }
          }
        }
      }
    }

    &-p{
      @extend .wp-btw;
      padding: 7px 0;
      border-radius: 3px;
      &-fst{
        width: 32%;
        padding: 5px 5px 5px 30px;
      }
      &-snd{
        width: 35%;
        padding: 5px;
      }
      &-trd{
        width: 33%;
        text-align: right;
        padding: 5px;
      }

      &:hover{
        @extend .grd1;
        .prz-h3-b, .prz-p, .prz-link-a{
          color: white;
        }
      }
    }

    &-q{}

    &-r{}
  }

  &-block{
    &-a{
      width: 75%;
      padding: 75px 95px 20px;
      overflow-y: scroll;
    }

    &-b{
      width: 25%;
      border-left: 1px solid rgba(255, 255, 255, 0.15);
      &-head{
        padding: 0 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      &-body{
        height: 90%;
        overflow-y: scroll;

        &-del{
          padding: 0 20px;
          height: 10vh;
          line-height: 10vh;
          border-top: 1px solid rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
      }
    }

    &-c{
      width: 75%;

      &-head{
        padding: 0 10px 0 35px;
        height: 10vh;
        line-height: 10vh;
      }
      &-body{
        height: 90%;
        padding: 0 20px 25px;
        overflow-y: scroll;
      }
    }

    &-d{
      width: 63%;
      padding: 31% 35px 20px;
      overflow-y: scroll;
    }

    &-e{
      width: 37%;
      border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    &-f{
      width: 75%;
      overflow-y: scroll;

      &-wp{
        padding: 0 11.5%;
      }
    }

    &-g{
      width: 50%;
      height: 100%;
      min-height: 830px;
      &-wp{
        @extend .wp-btw;
        padding: 0 0 70px;
        height: 100%;
      }

      &-head{
        &-a{
          text-align: center;
          height: 11%;
        }
      }
      &-body{
        &-a{
          height: 71%;
        }
        &-b{
          height: 81%;
        }
      }
      &-footer{
        &-a{
          text-align: right;
          padding: 10px 20px;
          height: 8%;
        }
        &-b{
          @extend .wp-btw_cen;
          height: 8%;
          padding: 0 20px;
        }
      }

      &-table{
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 3px;
        height: 100%;
        background: #19191b;
        min-height: 560px;
        &-head{
          @extend .wp-btw;
          color: #8a8a8c;
          font-size: 12px;
          height: 6%;
          line-height: 300%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          text-align: center;
          &-a,&-b,&-c,&-d{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &-a{
            width: 36%;
          }
          &-b{
            width: 22%;
          }
          &-c{
            width: 24%;
            text-align: right;
          }
          &-d{
            width: 18%;
          }
        }

        &-body{
          padding: 5px 15px;
          overflow-y: scroll;
          height: 94%;
          &-item{
            @extend .grd6;
            @extend .wp-btw_cen;
            color: white;
            font-size: 14px;
            padding: 12px;
            border-radius: 3px;
            &-a,&-b,&-c,&-d{
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            &-a{
              width: 39%;
              font-size: 15px;
              font-weight: 700;
            }
            &-b{
              width: 32%;
              color: #8a8a8c;
            }
            &-c{
              width: 19%;
              color: #8a8a8c;
            }
            &-d{
              width: 10%;
              text-align: right;
            }


            &:hover{
              @extend .grd7;
            }
          }

          &-drop{
            border: 1px dashed rgba(255, 255, 255, 0.5);
            border-radius: 3px;
            color: #8a8b8d;
            font-size: 14px;
            padding: 12px;
            text-align: center;
          }
        }
      }

      &:last-child{border-left: 1px solid rgba(255, 255, 255, 0.15);}
    }

    &-h{
      width: 70%;
    }

    &-j{
      width: 30%;
    }
  }

  &-btn{
    &-a{
      padding: 9px;
    }

    &-b{
      @extend .dibM;
      width: 135px;
      height: 32px;
      line-height: 32px;
      color: white;
      border: 1px solid transparent;
      border-radius: 25px;
      font-size: 16px;
      text-align: center;
      &_w{
        @extend .prz-btn-b;
        background: white;
        color: #000;
      }

      &_o{
        @extend .prz-btn-b;
        border: 1px solid white;

        &:hover{
          background: linear-gradient(90deg,rgba(255,255,255,.4) 0,rgba(239,41,178,.4));
        }
      }


      &_a{
        @extend .prz-btn-b;
        width: auto;
        padding: 0 35px;
      }
    }

    &-c{
      height: 50px;
      width: 11%;
      color: white;
      text-align: center;
      border-radius: 3px;
      font-size: 14px;
      transition: all 100ms linear;
      span{
        display: block;
        margin: 0 0 3px;
      }
      b{
        font-weight: 400;
        text-transform: uppercase;
        color: #8a8b8d;
      }

      &:hover{
        @extend .bs1;
      }
      &.active{
        @extend .grd1;
        @extend .wp-arnd_cen;
        box-shadow: none;
        padding: 0 25px;
        font-size: 16px;
        span{
          order: 1;
          display: inline-block;
          margin: 0;
        }
        b{
          order: 0;
          font-weight: 400;
          text-transform: uppercase;
          color: white;
        }
      }
    }

    &-d{
      background: white;
      border-radius: 25px;
      text-align: center;
      height: 32px;
      width: 100%;
      color: #000;
      img,&-text{
        @extend .dibM;
      }
      img{
        margin: 0 20px 0 0;
      }
      &-text{
        font-size: 14px;
        b{
          display: block;
          font-size: 10px;
        }
      }


      &:hover{
        background: #d0d0d2;
      }
    }

    &-e{
      padding: 5px 10px;
      border: 1px solid #8b8b8d;
      color: #8b8b8d;
      background: transparent;
      font-size: 12px;
      border-radius: 25px;
    }

    &-f{
      @extend .dibM;
      @extend .bs1;
      width: 32px;
      height: 32px;
      line-height: 37px;
      text-align: center;
      border-radius: 50%;
      position: relative;
      b{
        height: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-link{
    &-u{
      &:hover{
        text-decoration: underline;
      }
    }
    &-au{
      font-size: 13px;
      text-decoration: underline;
      color: white;
    }

    &-a{
      @extend .dibM;
      color: #8b8b8d;
      font-size: 13px;
      margin: 0 9px;
      text-decoration: underline;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }

    &:hover{
      color: #ef29b2;
    }
  }

  &-hr{
    border: none;
    background: #343338;
    width: 100%;
    height: 1px;
    margin: 10px 0 0;
  }

  &-search{
    display: block;
    width: 100%;
    height: 32px;
    position: relative;
    &-input{
      line-height: 32;
      height: 100%;
      width: 100%;
      border: 1px solid #38383a;
      background: #2f2f31;
      color: #8b8b8d;
      padding: 0 45px 0 15px;
    }
    &-btn{
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px 10px 3px;
    }
  }

  &-h1{
    font-size: 37px;
    margin: 0 0 15px;
    font-weight: 700;

    &-a{
      @extend .prz-h1;
      font-size: 33px;
      margin: 0 0 35px;
    }

    &-b{
      @extend .prz-h1;
      line-height: 60px;
      margin: 0 0 10px;
    }
  }

  &-h2{
    font-size: 35px;
    &-ico{
      @extend .prz-h2;
      position: relative;
      &-i{
        position: absolute;
        left: -30px;
        top: 8px;
      }
    }
  }

  &-h3{
    font-size: 24px;
    margin: 0 0 3px;
    &-a{
      font-size: 18px;
      img{
        margin: 0 5px 0 0;
      }
    }

    &-b{
      display: block;
      font-size: 16px;
      position: relative;
      img{
        position: absolute;
        left: -30px;
        top: -2px;
      }
    }

    &-c{
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
    }

    &-d{
      @extend .wp-btw_cen;
      font-size: 18px;
      margin: 0 0 6px;
      span{
        font-size: 14px;
      }
    }

    &-e{
      @extend .wp-btw_cen;
      margin: 20px;
      color: white;
      b{
        font-size: 22px;
      }
      span{
        font-size: 13px;
        color: #8a8b8d;
      }
    }

    &-ico{
      font-size: 18px;
      position: relative;
      &-i{
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translate(0,-50%);
      }
    }
  }

  &-h4{
    font-size: 14px;
    margin: 4px 0 10px;

    &-a{
      font-size: 14px;
      margin: 0 0 3px;
    }

    &-b{
      font-size: 14px;
      &-time{
        @extend .dibM;
        font-size: 20px;
        color: #e82dbc;
        font-weight: 700;
      }
    }
  }

  &-h5{
    font-size: 12px;
  }

  &-h6{
    font-size: 10px;
  }

  &-p{
    display: block;
    font-size: 14px;
    color: #8b8b8d;
    line-height: 20px;

    &-a{
      @extend .prz-p;
      color: #fff;
      padding: 25px 0 35px 60px;
      font-size: 14px;
      &-strong{
        font-size: 16px;
        strong{
          @extend .dibM;
          min-width: 140px;
          font-weight: 700;
          color: #272727;
        }
      }
    }

    &-b{
      @extend .prz-p;
      line-height: 15px;
    }

    &-c{
      @extend .prz-p;
      &-mark{
        color: #e92cba;
      }
    }
  }

  &-ul{
    &-a{
      &-item{
        position: relative;
        &:after{
          content: '';
          width: 32px;
          height: 32px;
          @extend .prz-i-check;
          //background: url(../public/i/check.png) center no-repeat;
          position: absolute;
          left: -45px;
          top: -7px;
        }
      }
    }
  }

  &-range{
    display: inline-block;
    position: relative;
    input[type=range] {
      -webkit-appearance: none;
      margin: 0;
      width: 100%;
      height: 25px;
      background: none;
      position: relative;
      top: 1px;
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: transparent;
        border-radius: 25px;
        border: 0px solid #000101;
      }

      &::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 14px;
        width: 2px;
        transform: translate(0, 4px);
        background: #f12bbc;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.6px;
      }
      &::-moz-range-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: transparent;
        border-radius: 25px;
        border: 0px solid #000101;
      }
      &::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 14px;
        width: 2px;
        transform: translate(0, 4px);
        background: #f12bbc;
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: transparent;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      }
      &::-ms-fill-upper {
        background: transparent;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      }
      &::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 14px;
        width: 2px;
        transform: translate(0, 4px);
        background: #f12bbc;
        cursor: pointer;
      }
    }


    &:after{
      content: '';
      height: 2px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      background: #d3d3d3;
    }

    span{
      @extend .grd1;
      height: 2px;
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &-select{
    @extend .dibM;
    position: relative;
    &-btn{
      @extend .wp-btw_cen;
      background: #151517;
      border: 1px solid rgba(255, 255, 255, 0.15);
      height: 32px;
      line-height: 30px;
      padding: 0 8px;
      font-size: 14px;
      border-radius: 3px;
      img{
        transition: all 200ms linear;
      }
      span{
        margin: 0 40px 0 0;
      }
    }

    &-drop{
      line-height: 1;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px) skew(0deg,5deg);
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background: #151517;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-top: none;
      transition: all 200ms linear;
      &-item{
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: left;
        padding: 0 8px;
      }
    }

    &.active{
      .prz-select{
        &-btn{
          img{
            transform: rotate(180deg);
          }
        }
        &-drop{
          z-index: 10;
          opacity: 1;
          visibility: visible;
          transform: translate(0) skew(0deg,0deg);
        }
      }
    }
  }

  &-size{
    margin: 40px 0 50px;
    &-item{
      @extend .dibM;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      color: #8b8b8d;
      input{
        display: none;
        &:checked + * {
          @extend .grd1;
          border: 1px solid transparent;
        }
      }
      &-box{
        width: 100%;
        height: 100%;
        border: 1px solid #8b8b8d;
        border-radius: 50%;
        display: block;
        text-transform: uppercase;
        background: transparent;
        color: white;
      }
    }
  }

  &-popup{
    position: absolute;
    z-index: 111;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 32, 0.9);
    &-a{
      width: 450px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #19191b;
      border-radius: 3px;
    }
    &-b{
      width: 730px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #19191b;
      padding: 50px 0;
      border-radius: 3px;
    }


    &-close{
      position: absolute;
      right: 20px;
      top: 20px;
    }

    &-head{
      @extend .wp-btw_cen;
      padding: 25px 30px 0;
    }
    &-body{
      padding: 30px;
      @extend .wp-btw;
      &-img{
        width: 44%;
        height: 180px;
        overflow: hidden;
        background: white;
        text-align: center;
        padding: 12px;
        &-bg{
          width: 100%;
          height: 100%;
          background-size: cover !important;
        }
      }
      &-info{
        width: 49%;
        padding: 17px 0 0;

        .prz-h3-a {
          margin: 0 0 25px;
        }
        .prz-h5 {
          margin: 0 0 5px;
        }
      }

      &-a{
        padding: 0 100px;
      }
    }
    &-footer{
      padding: 30px 50px;
    }


    &-img{
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(241, 241, 255, 0.9);
      .prz-shop-imgs-bg {
        background-size: contain !important;
        cursor: url("http://gartonjones.london/wp-content/themes/new_theme/img/cursor-close.png"), auto;
      }
    }
  }

  &-cart{
    padding: 65px 80px;
    &-has{
      @extend .grd1;
      @extend .wp-btw_cen;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
      padding: 5px 35px;
      &-title{
        img, .prz-h4{
          @extend .dibM;
          margin: 0;
        }
        img{
          margin: 0 20px 0 0;
        }
      }
    }

    &-table{
      width: 100%;
      border-spacing: 0 20px;
      border-collapse: separate;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      &-head{
        th{
          padding: 0 0 15px;
          font-size: 13px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          &:first-child{
            text-align: left;
          }
        }
      }
      &-body{
        &-item{
          td{
            vertical-align: middle;
            position: relative;
            text-align: center;
            background: none;
            &:first-child{
              text-align: left;
            }
          }


          &-remove{
            @extend .prz-btn-a;
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translate(0, -50%);
          }

          .prz-popup-body-img{
            @extend .dibM;
            width: 170px;
            height: 185px;
            margin: 0 30px 0 0;
          }
          &-text{
            @extend .dibM;
            .prz-h3-c{
              font-weight: 400;
            }
          }


          &:hover{
            td{
              &:first-child{
                background: rgba(255,255,255,0.49);
                background: -moz-linear-gradient(left, rgba(255,255,255,0.49) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.49)), color-stop(100%, rgba(0,0,0,0)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,0.49) 0%, rgba(0,0,0,0) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,0.49) 0%, rgba(0,0,0,0) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,0.49) 0%, rgba(0,0,0,0) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0.49) 0%, rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
              }
            }
          }
        }
      }
    }

    &-total{
      text-align: right;
      .prz-h4{
        margin: 20px 0 30px;
      }
    }
  }

  &-captcha{
    &-title{
      @extend .prz-input-title;
    }
    &-box{
      @extend .wp-btw;
      &-cap{
        border: 1px solid rgba(255, 255, 255, 0.15);
        height: 50px;
        width: 44%;
      }

      &-input{
        width: 44%;
        height: 50px;
        border-radius: 3px;
        background: #1e1e20;
        border: 1px solid rgba(255, 255, 255, 0.15);
        text-align: center;
        font-size: 38px;
        font-weight: 700;
        color: white;
      }
    }
  }

  &-tags{
    font-size: 14px;
    &-item{
      color: #e92cba !important;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  &-quote{
    position: relative;
    padding: 0 0 0 40px;
    &-text{
      color: #e92cba;
      font-size: 16px;
      line-height: 20px;
      font-style: italic;
      font-weight: bold;
    }
    &-from{
      text-align: right;
      font-size: 14px;
      margin-top: 5px;
    }

    &:after{
      @extend .prz-i-quote;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &-sliders{
    &-a{
      position: relative;
      &-prev, &-next{
        position: absolute;
        left: -55px;
        top: 50%;
        transform: translate(0, -50%);
      }

      &-next{
        left: initial;
        right: -55px;
      }

      &-box{
        &-item{
          width: 100%;
          height: 380px;
          background-size: cover !important;
        }
      }
    }
  }

  &-more{
    &-a{
      padding: 35px 20px 40px;
      &-head{
        padding: 0 0 30px 20px;
      }
      &-body{
        overflow-x: scroll;
        white-space: nowrap;
        &-wp{
          position: relative;
          &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 100%;
            box-shadow: inset -80px 0 30px -60px #f1f1f1;
          }
        }
      }
    }
  }

  &-switch{
    @extend .dibM;
    @extend .grd1;
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 25px;
    input{
      display: none;
      &:checked + *{
        left: calc(99% - 23px);
      }
    }
    &-btn{
      position: absolute;
      left: 3px;
      top: 3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
      transition: all 100ms linear;
    }
  }

  &-input{
    display: block;
    max-width: 255px;
    margin: 30px 0 0;
    position: relative;
    &-two{
      @extend .wp-btw_cen;
      .prz-input, .prz-select{
        width: 48%;
        max-width: 100%;
      }
    }


    &-title{
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      padding: 0 0 8px 5px;
    }

    &-in{
      position: relative;
      display: block;
      input{
        width: 100%;
        background: #1e1e20;
        border: 1px solid rgba(255, 255, 255, 0.15);
        height: 32px;
        line-height: 30px;
        padding: 0 10px;
        font-size: 14px;
        border-radius: 3px;
        color: white;
      }
    }
    &-ta{
      textarea{
        width: 100%;
        background: #1e1e20;
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 10px 10px;
        font-size: 14px;
        border-radius: 3px;
        color: white;
        min-height: 140px;
        resize: vertical;
      }
    }

    &-err{
      display: none;
      position: absolute;
      left: 20px;
      bottom: -15px;
      color: #f02bb6;
      font-size: 12px;
    }

    &.valid{
      .prz-input-in{
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          @extend .prz-i-check-a;
          //width: 32px;
          //height: 32px;
          //background: url(../public/i/check.png) center no-repeat;
        }
        input{
          padding: 0 35px 0 10px;
        }
      }
    }

    &.invalid{
      .prz-input-in {
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          @extend .prz-i-check;
          //width: 32px;
          //height: 32px;
          //background: url(../public/i/check.png) center no-repeat;
        }
        input{
          padding: 0 35px 0 10px;
          color: #f02bb6;
          border-color: #f02bb6;
        }
      }
      .prz-input-err{
        display: block;
      }
    }


    .prz-select{
      width: 100%;
      &-btn{
        width: 100%;
        background: #1e1e20;
        border: 1px solid rgba(255, 255, 255, 0.15);
        span{
          margin: 0;
        }
      }
      &-drop{
        background: #1e1e20;
        &-item:hover{
          background: #48484a;
        }
      }
    }
  }

  &-check{
    display: block;
    input{
      display: none;
      &:checked + .prz-check-box:after{
        opacity: 1;
      }
    }
    &-box, &-text{
      @extend .dibM;
    }
    &-box{
      background: #1e1e20;
      border: 1px solid rgba(255, 255, 255, 0.15);
      width: 25px;
      height: 25px;
      border-radius: 3px;
      position: relative;
      &:after{
        @extend .grd1;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60%;
        height: 60%;
        margin: auto;
        border-radius: 3px;
        opacity: 0;
      }
    }
    &-text{
      margin: 0 0 0 10px;
      text-transform: uppercase;
      font-size: 13px;
    }
  }

}
