.c1{
  color: white;
}


.bg1{
  background: #2f2f31;
}

.grd1{
  background: #772ae8;
  background: -moz-linear-gradient(left,  #772ae8 0%, #ef29b2 100%);
  background: -webkit-linear-gradient(left,  #772ae8 0%,#ef29b2 100%);
  background: linear-gradient(to right,  #772ae8 0%,#ef29b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#772ae8', endColorstr='#ef29b2',GradientType=1 );
}
.grd2{
  background: #ef29b2;
  background: -moz-linear-gradient(left,  #ef29b2 0%, #eb922a 100%);
  background: -webkit-linear-gradient(left,  #ef29b2 0%,#eb922a 100%);
  background: linear-gradient(to right,  #ef29b2 0%,#eb922a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef29b2', endColorstr='#eb922a',GradientType=1 );
}
.grd3{
  background: #eb922a;
  background: -moz-linear-gradient(left,  #eb922a 0%, #8bec2b 100%);
  background: -webkit-linear-gradient(left,  #eb922a 0%,#8bec2b 100%);
  background: linear-gradient(to right,  #eb922a 0%,#8bec2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb922a', endColorstr='#8bec2b',GradientType=1 );
}
.grd4{
  background: #8bec2b;
  background: -moz-linear-gradient(left,  #8bec2b 0%, #2b9cea 100%);
  background: -webkit-linear-gradient(left,  #8bec2b 0%,#2b9cea 100%);
  background: linear-gradient(to right,  #8bec2b 0%,#2b9cea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bec2b', endColorstr='#2b9cea',GradientType=1 );
}
.grd5{
  background: #2b9cea;
  background: -moz-linear-gradient(left,  #2b9cea 0%, #972cde 100%);
  background: -webkit-linear-gradient(left,  #2b9cea 0%,#972cde 100%);
  background: linear-gradient(to right,  #2b9cea 0%,#972cde 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b9cea', endColorstr='#972cde',GradientType=1 );
}
.grd6{
  background: #3e3747;
  background: -moz-linear-gradient(left,  #3e3747 0%, #48425a 100%);
  background: -webkit-linear-gradient(left,  #3e3747 0%,#48425a 100%);
  background: linear-gradient(to right,  #3e3747 0%,#48425a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3747', endColorstr='#48425a',GradientType=1 );
}
.grd7{
  background: #48425a;
  background: -moz-linear-gradient(left,  #48425a 0%, #3e3747 100%);
  background: -webkit-linear-gradient(left,  #48425a 0%,#3e3747 100%);
  background: linear-gradient(to right,  #48425a 0%,#3e3747 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48425a', endColorstr='#3e3747',GradientType=1 );
}
.grd8{
  background: #201d23;
  background: -moz-linear-gradient(-45deg,  #201d23 0%, #331f2f 100%);
  background: -webkit-linear-gradient(-45deg,  #201d23 0%,#331f2f 100%);
  background: linear-gradient(135deg,  #201d23 0%,#331f2f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201d23', endColorstr='#331f2f',GradientType=1 );
}

.bs1{
  box-shadow:
          1px 0 0 0 #772ae8,
          0 1px 0 0 #772ae8,
          1px 0 0 0 #772ae8,
          -1px -1px 0 0 #ef29b2;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

html, body{
  height: 100%;
  font-family: sans-serif;
}


.prz{
  @extend .wp-btw;
  height: 100%;
  position: relative;
  background: #1e1e20;
  color: white;

  &-bg{
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    &-a{
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &-b{
      @extend .prz-bg;
      filter: blur(20px)
    }
  }

  &-content{
    width: 80%;
    height: 100%;
    &-head{
      @extend .wp-btw_end;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding: 0 35px;
      height: 10vh;
      line-height: 10vh;
      &-title{
        .prz-h3-c{
          display: inline-block;
          margin: 0 38px 0 0;
        }
      }

      &-links{
        .prz-link-a {
          font-size: 11px;
          margin: 0 8px;
        }
      }


      &-a{
        @extend .wp-btw_cen;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding: 0 20px;
        height: 8vh;
      }
      &-b{
        padding: 0 20px;
        height: 10vh;
        line-height: 10vh;
      }
      &-c{
        padding: 0 20px;
        height: 10vh;
        line-height: 10vh;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
    }

    &-body{
      height: 90%;
      padding: 0 0 70px;
      position: relative;

      &-a{
        @extend .prz-content-body;
        height: 90%;
        padding: 0 14% 20px;
      }

      &-b{
        @extend .prz-content-body;
        padding: 48px 96px 70px;
      }

      &-c{
        @extend .prz-content-body;
        @extend .wp-btw;
        padding: 20px;
      }

      &-d{
        @extend .prz-content-body;
        height: 100%;
      }

      &-e{
        @extend .prz-content-body;
        height: 90%;
        padding: 0;
      }
    }

    &-list{
      height: 90%;
      padding: 10px;
      .prz-box-b:last-child{
        margin: 10px 10px 70px 10px;
      }
    }
  }

  &-chart{
    height: 100%;
    &-top{
      @extend .wp-btw_cen;
      height: 15%;
      padding: 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    &-list{
      height: 85%;
      padding: 10px;
    }

    &-item{
      @extend .wp-btw_cen;
      padding: 10px;
      width: 100%;
      border-radius: 3px;

      &-img{
        @extend .dibM;
        width: 48px;
        height: 48px;
        background-size: cover !important;
      }

      &-info{
        @extend .dibM;
        width: 60%;
        padding: 0 0 0 14px;
        .prz-h4{
          @extend .wsn;
          margin: 0 0 3px;
        }
        .prz-h5{
          @extend .wsn;
          color: #898a8c;
        }
      }

      &-plus{
        @extend .dibM;
        padding: 10px;
      }


      &:hover{
        background: #2f2f31;
      }
    }
  }

  &-track{
    &-progress{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 100;
      width: 100%;
      height: 3px;
      &-box{
        width: 70%;
        height: 100%;
      }
    }
  }

  &-menu{
    position: relative;
    z-index: 1;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    &-head{
      @extend .wp-btw_cen;
      padding: 0 25px;
      margin: 25px 0;
    }

    &-wp{
      padding: 10px 30px 0;
    }
    &-wp-a{
      padding: 0 30px;
    }


    &-link{
      display: block;
      font-size: 13px;
      padding: 10px 10px;
      position: relative;
      border-radius: 5px;
      margin: 15px 0 0;
      &-img{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
      }
      &-name{
        padding: 0 0 0 45px;
      }
      &-toggle{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
      }

      &.active{
        @extend .grd1;
      }
    }

    &-open{
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 30px;
      height: 100%;
      background: #e7e7e7;
    }
  }

  &-main{
    padding: 3px 0 70px;
    height: 100%;

    &-top{
      @extend .wp-btw;
      height: 62%;
      &-left{
        @extend .wp-btw;
        width: 75%;
        padding: 20px 20px 20px 40px;
        position: relative;
      }
      &-right{
        position: relative;
        width: 25%;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
      }

      &-box{
        width: 100%;
        padding: 0 75px;
      }
    }
    &-bottom{
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      height: 38%;
      padding: 20px 0;

      &-head{
        @extend .wp-btw_cen;
        &-title{
          padding-left: 60px;
          .prz-h3-b{
            @extend .dibM;
          }
        }
        &-right{
          @extend .wp-btw_cen;
          width: 25%;
        }
      }

      &-btns{
        @extend .dibM;
        padding: 0 10px 0 0;
      }

      &-latest{
        overflow: hidden;
        white-space: nowrap;
      }

      &-item{
        @extend .dibM;
        width: 185px;
        height: 185px;
        position: relative;
        margin: 15px 0 15px 15px;
        border-radius: 3px;
        overflow: hidden;
        &-info{
          @extend .wp-btw_cen;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
          &-text{
            padding: 10px 0 10px 15px;
          }
          .prz-h4 {
            margin: 0 0 4px;
          }
        }

        &-bg{
          position: absolute;
          z-index: 0;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-size: cover !important;
          transition: all 200ms linear;
        }

        &:hover{
          .prz-main-bottom-item-bg{
            transform: rotate(-20deg) scale(1.4);
          }
        }
      }
    }

    &-btns{
      position: absolute;
      z-index: 1;
      left: 50px;
      top: 25px;
    }


    &-info{
      align-self: flex-end;
      padding: 0 0 0 20px;
      .prz-btn-b{
        margin: 0 10px 0 0;
      }
    }
  }

  &-player{
    @extend .wp-btw_cen;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: rgba(30, 30, 32, 0.9);
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    &-aside{
      width: 20%;
      .prz-player-vol{
        padding: 0 30px 0 15px;
      }
    }
    &-middle{
      @extend .wp-btw_cen;
      width: 60%;
      padding: 0 30px;
      &-btns{
        .prz-btn-a{
          padding: 26px 9px;
          img{
            height: 14px;
          }
        }
      }
    }

    &-vol{
      @extend .wp-btw_cen;
      .prz-range{
        width: 72%;
      }
    }

    &-info{
      @extend .wp-btw_cen;
      padding: 0 0 0 35px;
      &-img{
        @extend .dibM;
        width: 30px;
        height: 30px;
        background-size: cover !important;
        border-radius: 50%;
      }

      &-text{
        @extend .dibM;
        width: 80%;
        .prz-h4{
          @extend .wsn;
          margin: 0 0 3px;
        }
        .prz-h5{
          @extend .wsn;
        }
      }
    }

    &-modal{
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 66px;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);

      &-last, &-logos{
        @extend .grd1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &-logos{
        @extend .wp-arnd_cen;
        padding: 25px;
      }

      &-last{
        padding: 10px 0;
        &-list{
          @extend .wsn;
          .prz-chart-item{
            @extend .dibM;
            width: 260px;
            margin: 10px 0 10px 14px;
            background: rgba(255, 255, 255, 0.3);
            .prz-h5{
              color: white;
            }


            &:hover{
              background: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
  }

  &-shop{
    @extend .wp-btw;
    &-imgs{
      width: 62%;
      position: relative;
      &-bg{
        width: 100%;
        height: 100%;
        background-size: cover !important;
        cursor: url(../public/i/zoom.png), auto;
      }
    }
    &-info{
      width: 38%;
      padding: 43px 30px;

      .prz-p{
        margin: 25px 0;
      }
      .prz-h4 {
        margin: 10px 0 15px;
      }
    }
  }

  &-checko{
    @extend .wp-btw;
    padding: 90px 14% 70px;

    &-box{
      margin: 52px 0 20px;
    }

    &-out{
      .prz-box-c-img{
        background: transparent;
      }
    }
  }

  &-ctrl{
    &-item{

    }
  }

  &-con{
    @extend .wp-btw;
    height: 100%;
    padding: 0 0 70px;
    &-map{
      width: 63%;
      height: 100%;
    }
    &-form{
      width: 37%;
      border-left: 1px solid rgba(255, 255, 255, 0.15);
      &-head{
        height: 10vh;
        line-height: 10vh;
        padding: 0 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }

      &-body{
        height: 90vh;
        padding: 25px 50px 70px;

        .prz-input {
          width: 100%;
          max-width: 100%;
          margin: 0 0 30px;
        }
      }
    }
  }

  &-drop{
    height: 100%;
    padding: 0 0 70px;
    position: relative;
    &-info{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;

      .prz-h2{
        margin: 0 0 10px;
      }
      .prz-btn-b{
        width: 175px;
        margin: 55px 0 70px;
      }
    }
  }

  &-update{
    height: 100%;
    padding: 0 0 70px;
    position: relative;
    &-lt{
      @extend .prz-p;
      position: absolute;
      left: 35px;
      top: 35px;
      font-size: 12px;
    }
    &-lb{
      font-size: 12px;
      color: white;
      position: absolute;
      left: 35px;
      bottom: 105px;
      span{
        color: #ef29b2;
      }
    }


    &-box{
      width: 530px;

      .prz-input{
        margin: 0 0 30px;
      }
    }
  }



// THEME //////////////////////////////////////////////////////////////////////////////////
  &-white{
    .prz{
      background: #f1f1f1;
      color: #43474a;

      a{color: #43474a;}

      &-btn{
        &-e{
          color: #43474a;
        }

        &-b{
          color: white !important;
        }
      }

      //&-h3-b {
      //  color: white;
      //}

      &-p{
        &-a{
          color: #43474a;
        }
        &-c{
          color: #8b8b8d;
        }
      }

      &-b{
        border-left: 1px solid #dcdcdc;
        &-head{
          border-bottom: 1px solid #dcdcdc;
        }
        &-body{
          &-del{
            border-top: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
          }
        }
      }

      &-block{
        &-e {
          border-left: 1px solid #dcdcdc;
        }
      }

      &-box{
        &-o{
          &-item-a{
            background: #e7e7e7;
          }
        }

        &-h{
          &-day{
            color: white;
          }
          &-footer{
            .prz-p{
              color: white;
            }
          }
        }

        &-m{
          &-text{
            &-from{
              color: #43474a;
              span{
                color: #43474a;
              }
            }
          }
        }

        &-j{
          &-footer{
            background: rgba(255, 255, 255, 0.7);
            .prz-h3-b {
              color: #43474a;
            }
          }
        }
      }

      &-search-input {
        border: 1px solid #dcdcdc;
        background: white;
      }

      &-input-ta{
        border: 1px solid #dcdcdc;
        background: white;
      }

      &-menu{
        border-right: 1px solid #dcdcdc;
        &-link.active{color: white;}
      }

      &-hr{background: #dcdcdc;}

      &-player {
        background: #f1f1f1;
        border-top: 1px solid #dcdcdc;
      }

      &-con{
        &-form-head {
          border-bottom: 1px solid #cdcdcd;
        }
      }

      &-content{
        &-head{
          border-bottom: 1px solid #dcdcdc;
          &-c {
            border-bottom: 1px solid #dcdcdc;
          }
        }
      }

      &-chart{
        &-top{border-bottom: 1px solid #dcdcdc;}

        &-item{
          &:hover{
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }

      &-main{
        &-top-right{border-left: 1px solid #dcdcdc;}
        &-bottom{border-top: 1px solid #dcdcdc;}
      }

      &-select{
        &-btn {
          background: white;
          border: 1px solid #dcdcdc;
          color: #43474a;
        }
        &-drop {
          background: white;
          border: 1px solid #dcdcdc;
          &-item{
            color: #43474a;
          }
        }
      }
    }
  }
}
