<div class="prz-wp-head-a wp-btw_cen prz-brd-b">
  <div class="prz-content-head-title">
    <h2 class="prz-h3-c">Shop</h2>
    <a href="#/" class="prz-link-au">Home</a>
    <a href="" class="prz-link-a">Men</a>
    <a href="" class="prz-link-a">Women</a>
    <a href="" class="prz-link-a">Hats</a>
    <a href="" class="prz-link-a">Accessoires</a>
  </div>

  <div class="prz-content-head-links">
    <a href="" class="prz-link-a">Order Information</a>
    <a href="" class="prz-link-a">Shipping Information</a>
    <a href="" class="prz-link-a">Return & Exchange Policy</a>
  </div>
</div>

<div class="prz-wp-c wp-btw relative">
  <a href="" class="prz-cart-has">
    <div class="prz-cart-has-title">
      <b class="prz-i-cart mr10"></b>
      <h4 class="prz-h4 dibM">Cart</h4>
    </div>

    <div class="prz-cart-has-info">
      2 / $ 70.00
    </div>
  </a>

  <div class="prz-shop-imgs">
    <div class="prz-main-btns">
      <button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button>
      <button class="prz-btn-a"><b class="prz-i-triangle"></b></button>
    </div>
    <div class="prz-shop-imgs-bg" style="background: url(http://static.wixstatic.com/media/26d58c_15a55208d1e34593b3af51bbe3228d04.jpg) center no-repeat;"></div>
  </div>


  <div class="prz-shop-info ovs pb90 prz-brd-l">
    <h3 class="prz-h3-a">Lorem ipsum.</h3>
    <h3 class="prz-h4">$ 55.55 EUR</h3>
    <p class="prz-p">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolorem, ex minima porro possimus ut voluptatum. Ad at dolorum itaque labo, unde veniam voluptatem. Dolorum quis repellendus sapiente? Beatae commodiae quia!
    </p>

    <div class="prz-size">
      <h3 class="prz-h4">Lorem ipsum.</h3>

      <div class="wp-btw">
        <label class="prz-size-item">
          <input type="radio" name="rad">
                <span class="prz-size-item-box">
                    s
                </span>
        </label>
        <label class="prz-size-item">
          <input type="radio" name="rad">
                <span class="prz-size-item-box">
                    m
                </span>
        </label>
        <label class="prz-size-item">
          <input type="radio" name="rad">
                <span class="prz-size-item-box">
                    l
                </span>
        </label>
        <label class="prz-size-item">
          <input type="radio" name="rad">
                <span class="prz-size-item-box">
                    xl
                </span>
        </label>
        <label class="prz-size-item">
          <input type="radio" name="rad">
                <span class="prz-size-item-box">
                    xxl
                </span>
        </label>
      </div>
    </div>

    <button class="prz-btn-b grd1 w100p">Add to Bag</button>
  </div>
</div>
