<div class="prz-wp-head-a wp-btw_cen prz-brd-b">
  <div class="prz-content-head-title">
    <h2 class="prz-h3-c">cart (2)</h2>
  </div>

  <div class="prz-content-head-links">
    <a href="" class="prz-link-a">Back to Shop</a>
  </div>
</div>


<div class="prz-wp-f ovs">
  <div class="prz-cart">
    <table class="prz-cart-table">
      <thead class="prz-cart-table-head">
      <tr>
        <th>Product Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody class="prz-cart-table-body">
      <tr class="prz-cart-table-body-item" *ngFor="let i of [0,1]">
        <td>
          <button class="prz-cart-table-body-item-remove">x</button>
          <div class="prz-popup-body-img">
            <div class="prz-popup-body-img-bg" style="background: url(http://dummyimage.com/140x140/333333/ffffff) center no-repeat;"></div>
          </div>

          <div class="prz-cart-table-body-item-text">
            <h3 class="prz-h3-c">Lorem ipsum.</h3>
            <h4 class="prz-h4">Lorem ipsum dolor.</h4>
          </div>
        </td>

        <td>$ 35.00</td>

        <td>
          <button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button>
          <span class="dibM">2</span>
          <button class="prz-btn-a "><b class="prz-i-triangle"></b></button>
        </td>

        <td>$ 35.00</td>
      </tr>
      </tbody>
    </table>

    <div class="prz-cart-total">
      <h4 class="prz-h4">Lorem ipsum dolor.</h4>
      <a href="" class="prz-btn-b grd1">Checkout</a>
    </div>
  </div>
</div>
