<div class="prz-wp-head-a wp-btw_cen prz-brd-b">
  <button class="prz-btn-c active">
    <span>13</span>
    <b>mon</b>
  </button>
  <button class="prz-btn-c" *ngFor="let i of [0,1,2,3,4,5]">
    <span>13</span>
    <b>mon</b>
  </button>
</div>

<div class="prz-wp-e ovs pb70">
  <h3 class="prz-h3-e">
    <b>Parazhit shows</b>
    <span>June 13</span>
  </h3>


  <div class="prz-box-e" [ngClass]="{active: index == 2}"*ngFor="let i of [0,1,2,3,4,5,6,7,8];let index = index">
        <span class="prz-box-e-info">
            <span class="prz-box-e-info-h2">18:00</span>
            <span class="prz-box-e-info-h3" *ngIf="index != 2">Cet</span>
            <span class="prz-box-e-info-onAir w100p" *ngIf="index == 2">on Air</span>
        </span>

    <span class="prz-box-e-ava" style="background: url(http://dummyimage.com/70x75/333333/ffffff) center no-repeat;"></span>

        <span class="prz-box-e-text">
            <a href="" class="prz-box-e-text-a">Lorem ipsum dolor sit.</a>
            <span class="prz-box-e-text-p">Lorem ipssecing elit. Atque aut corporis cumque debitis deleniti, magnam molestias repellat. Earum, esse, eveniet.</span>
        </span>
  </div>
</div>

