<div class="prz-bg-a grd8"></div>

<div class="prz-update-lt">1.20 MB of 19.35 MB uploaded</div>
<div class="prz-update-lb">uploading <span>5%</span></div>

<div class="wp-cen relative h100p ovs pb90">
  <div class="prz-update-box">
    <h1 class="prz-h1-a">Update track settings</h1>

    <div class="prz-input-two">
      <label class="prz-input">
        <span class="prz-input-title">Artist name</span>
        <span class="prz-input-in"><input type="text" placeholder="Artist..."></span>
      </label>
      <label class="prz-input invalid">
        <span class="prz-input-title">track name</span>
        <span class="prz-input-in"><input type="text" placeholder="Artist..."></span>
        <span class="prz-input-err">Incorrect Track Name</span>
      </label>
    </div>

    <label class="prz-input w100p valid">
      <span class="prz-input-title">type</span>
      <span class="prz-input-in"><input type="text" placeholder="Type..."></span>
      <span class="prz-p ml10">e.g: Original, bootteg, Edit, Radio Edit...</span>
    </label>

    <div class="prz-input-two">
      <label class="prz-input">
        <span class="prz-input-title">your email</span>
        <span class="prz-input-in"><input class="prz-input-in" type="text" placeholder="E-mail..."></span>
      </label>
      <label class="prz-input">
        <span class="prz-input-title">Style selection</span>

                <span class="prz-select">
                    <button class="prz-select-btn">
                        <span>Chrome a style...</span>
                            <b class="prz-i-triangle_b"></b>
                    </button>

                    <span class="prz-select-drop">
                        <button class="prz-select-drop-item">Middle</button>
                        <button class="prz-select-drop-item">Bottom</button>
                    </span>
                </span>
      </label>
    </div>

    <label class="prz-check">
      <input type="checkbox">
      <span class="prz-check-box"></span>
            <span class="prz-check-text">
                Are you already signed on a record label?
            </span>
    </label>

    <hr class="prz-hr mv30">

    <div class="wp-btw_cen">
      <span class="prz-link-a">Cancel</span>
      <button class="prz-btn-b grd1 inactive-a">Send Track</button>
    </div>
  </div>
</div>
