<prz-menu class="prz-menu ovs"></prz-menu>


<div class="prz-wp-a">
  <router-outlet></router-outlet>
</div>


<prz-player class="prz-player"></prz-player>





<!--<div ng-include="'views/particles/popups.html'"></div>-->
