<div class="h100p">
  <div class="prz-wp-head-a prz-brd-b">
    <h2 class="prz-h3-c">Jobs</h2>
  </div>

  <div class="prz-wp-c ovs pall20 pb90 wp-btw">
    <div class="prz-box-k" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
      <div class="prz-box-k-info">
        <a href="" class="prz-box-k-h2">Lorem ipsum.</a>
        <p class="prz-box-k-p">location: <a href="">Netherlands</a></p>
      </div>

      <div class="prz-box-k-tags">
        <span class="prz-btn-e">Part-Time</span>
        <span class="prz-btn-e">Allows Remote</span>
      </div>
    </div>
  </div>
</div>
