<div class="h100p wp-btw">
  <div class="prz-block-c">
    <div class="prz-wp-head-a prz-brd-b wp-btw_cen">
      <h3 class="prz-h3-a">Most Viewed</h3>


      <div class="prz-main-bottom-btns">
        <button class="prz-btn-a"><b class="prz-i-triangle_t"></b></button>
        <button class="prz-btn-a"><b class="prz-i-triangle_b"></b></button>
      </div>
    </div>

    <div class="prz-wp-c ovs pall20 pb90">
      <div class="prz-box-l">
        <div class="prz-box-l-bg" style="background: url(i/def.jpg) center no-repeat;"></div>
        <div class="prz-box-l-footer">
          <div class="prz-box-l-footer-date">
            Jun 21, <br>
            2016
          </div>

          <div class="prz-box-l-footer-info">
            <a [routerLink]="['news-item']" class="prz-h3-c mb10">Lorem ipsum dolor sit amet, consectetur.</a>
            <p class="prz-p">Lorem ipsum dolorism, ratione rerum sapiente similique temporibus velit? Labore maxime minima modi nisi quidem ut voluptate.</p>
          </div>
        </div>
      </div>

      <div class="prz-box-i" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
        <div class="prz-box-i-date">
          Jun 21, <br>
          2016
        </div>

        <div class="prz-box-i-bg" style="background: url(i/def.jpg) center no-repeat;"></div>

        <div class="prz-box-i-info">
          <a [routerLink]="['news-item']" class="prz-h3-c mb10">Lorem ipsum dolor sit amet, consectetur.</a>
          <p class="prz-p">Lorem ipsum dolorism, ratione rerum sapiente similique temporibus velit? Labore maxime minima modi nisi quidem ut voluptate.</p>
        </div>
      </div>

      <div class="tac mt20">
        <button class="prz-btn-b grd1">Load more</button>
      </div>
    </div>
  </div>


  <div class="prz-block-b">
    <div class="prz-wp-head-a prz-brd-b">
      <div class="prz-h3-a">Most Viewed</div>
    </div>


    <div class="prz-wp-c ovs pall20 pb90">
      <a [routerLink]="['news-item']" class="prz-box-j" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
        <div class="prz-box-j-bg" style="background: url(i/def.jpg) center no-repeat;"></div>

        <div class="prz-box-j-footer">
          <h3 class="prz-h3-b mb5">Lorem ipsum consectetur.</h3>
          <p class="prz-p">Jun 21, 2016</p>
        </div>
      </a>

      <div class="tac mt20">
        <button class="prz-btn-b grd1">Load more</button>
      </div>
    </div>
  </div>
</div>
