<div class="prz-bg" style="background: url(i/bg1.png) 0 0 no-repeat;"></div>

<div class="prz-drop ovs">
  <div class="prz-drop-info">
    <h2 class="prz-h2">Submit your track</h2>
    <p class="prz-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <button class="prz-btn-b grd1">Add to Bag</button>

    <p class="prz-p">
      Have a <a href="" class="prz-link-a mn">questions?</a>
    </p>
  </div>
</div>

