@import "reset";
@import "desctop/main";
@import "desctop/components";





@import "def";


@media all and (max-width: 1124px){
  @import 'responsive/tablet';
}

@media all and (max-width: 768px){
  @import 'responsive/smartphone';
}

@media all and (max-width: 480px){
  @import 'responsive/phone';
}
