*{
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}
a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
button{
  padding: 0;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.inactive{
  pointer-events: none;
  opacity: .6;
  &-a{
    pointer-events: none;
    background: #747474;
    color: black;
  }
}
.wsn{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.w100p{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.h100p{
  height: 100%;
}
.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.w50p{
  width: 50%;
}
.bold{
  font-weight: 700;
}
.ovs{
  overflow-y: scroll;
}
.ovsx{
  overflow-x: scroll;
}
.ovsy{
  overflow-y: scroll;
}
.relative{
  position: relative;
}
.trfM{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}









.m{
  &n{
    margin: 0 !important;
  }

  &all10{
    margin: 10px;
  }


  &v10{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &v18{
    margin-top: 18px;
    margin-bottom: 18px;
  }
  &v30{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &v35{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &v40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }



  &h5{
    margin-left: 5px;
    margin-right: 5px;
  }
  &h15{
    margin-left: 15px;
    margin-right: 15px;
  }
  &h20{
    margin-left: 20px;
    margin-right: 20px;
  }
  &h25{
    margin-left: 25px;
    margin-right: 25px;
  }




  &l10{
    margin-left: 10px;
  }
  &l20{
    margin-left: 20px;
  }




  &r5{
    margin-right: 5px;
  }
  &r10{
    margin-right: 10px;
  }
  &r15{
    margin-right: 15px;
  }
  &r20{
    margin-right: 20px;
  }
  &r40{
    margin-right: 40px;
  }





  &t20{
    margin-top: 20px;
  }
  &t40{
    margin-top: 40px;
  }
  &t45{
    margin-top: 45px;
  }




  &b5{
    margin-bottom: 5px;
  }
  &b10{
    margin-bottom: 10px;
  }
  &b15{
    margin-bottom: 15px;
  }
  &b20{
    margin-bottom: 20px;
  }
  &b25{
    margin-bottom: 25px;
  }
  &b30{
    margin-bottom: 30px;
  }
  &b35{
    margin-bottom: 35px;
  }
  &b40{
    margin-bottom: 40px;
  }
  &b50{
    margin-bottom: 50px;
  }
  &b60{
    margin-bottom: 60px;
  }
  &b70{
    margin-bottom: 70px;
  }
  &b80{
    margin-bottom: 80px;
  }
}








.p{
  &n{
    padding: 0 !important;
  }

  &all10{
    padding: 10px;
  }
  &all20{
    padding: 20px;
  }
  &all40{
    padding: 40px;
  }



  &t20{
    padding-top: 20px;
  }
  &t40{
    padding-top: 40px;
  }
  &t50{
    padding-top: 50px;
  }
  &t85{
    padding-top: 85px;
  }
  &t90{
    padding-top: 90px;
  }




  &l25{
    padding-left: 25px;
  }
  &l45{
    padding-left: 45px;
  }





  &b20{
    padding-bottom: 20px;
  }
  &b15{
    padding-bottom: 15px;
  }
  &b70{
    padding-bottom: 70px;
  }
  &b90{
    padding-bottom: 90px;
  }





  &v20{
    padding-top: 20px;
    padding-bottom: 20px;
  }






  &h20{
    padding-left: 20px;
    padding-right: 20px;
  }
  &h40{
    padding-left: 40px;
    padding-right: 40px;
  }
  &h50{
    padding-left: 50px;
    padding-right: 50px;
  }
  &h75{
    padding-left: 75px;
    padding-right: 75px;
  }
  &h80{
    padding-left: 80px;
    padding-right: 80px;
  }
  &h100{
    padding-left: 100px;
    padding-right: 100px;
  }
}












.wp-btw {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-between;
}
.wp-arnd {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-around;
}
.wp-btw_cen {
  @extend .wp-btw;
  align-items: center !important;
}
.wp-btw_end {
  @extend .wp-btw;
  align-items: flex-end;
}
.wp-btw_start {
  @extend .wp-btw;
  align-items: flex-start;
}
.wp-arnd_cen {
  @extend .wp-arnd;
  align-items: center;
}
.wp-cen{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.dibM{
  display: inline-block;
  vertical-align: middle;
}
