<div class="wp-btw h100p">
  <div class="prz-block-a pb90">
    <h1 class="prz-h1 mb20">Photo Reporter</h1>
    <div class="prz-p wp-btw mb60">
      <div>
        <p class="prz-box-k-p">location: <span>Netherlands</span></p>
      </div>
      <div>
        <span class="prz-btn-e">Part-Time</span>
        <span class="prz-btn-e">Allows Remote</span>
      </div>
    </div>

    <h3 class="prz-h3-c">1. Introduction</h3>
    <div class="prz-p-a">
      <p class="prz-p-a-strong">
        <strong>Consectetur:</strong>
        Lorem ipsum dolor.
      </p>
      <p class="prz-p-a-strong mb20">
        <strong>Minima:</strong>
        Lorem ipsum dolor.
      </p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ex f
      uga fugit ipsam magnam minima recusandae tempora. Fuga ipsa quisquam
      velit! Blanditiis eligendi, est explicabo illum iure maiores molestia
      e nam nesciunt non, officia, optio placeat quia quisquam quo rem saep
      e ut voluptates. Animi culpa, eligendi exercitationem facere in minus
      obcaecati quaerat quia? Assumenda consequuntur cum excepturi, reiciend
      is sequi tenetur? Aliquam blanditiis cum, facilis harum, hic ipsum iur
      e mollitia officia placeat, quam repellat sunt temporibus vero! Conse
      quatur dolores et eum! Accusamus, consequuntur cumque dolorem eveniet,
      fugit illum laborum nam necessitatibus nemo neque odio perferendis quo
      repellat repellendus saepe, sequi tenetur totam.
    </div>

    <h3 class="prz-h3-c">2. Hiw we collect information</h3>
    <p class="prz-p-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorum enim excepturi hic in praesentium, quae quibusdam voluptates voluptatum. At consequuntur corporis, dolor dolorum ea eos nihil pariatur soluta temporibus.</p>

    <h3 class="prz-h3-c">3. How we use and disclose your information</h3>
    <p class="prz-p-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias beatae cumque debitis deserunt dolor dolore dolorum ducimus eligendi enim est, excepturi id illo illum inventore, ipsum iste labore laborum perspiciatis possimus quae quisquam saepe similique sint suscipit tempora velit, vero voluptates voluptatum. Assumenda deleniti dolore, harum laudantium numquam officia suscipit. Ex fugit itaque quam! Architecto culpa exercitationem explicabo fugit id, iste iure non nulla suscipit. A ab aperiam consectetur corporis cumque delectus distinctio dolore doloremque, ducimus earum eligendi error et ex fugiat itaque laudantium maxime molestias, nam nemo neque nesciunt nihil nobis nostrum pariatur, possimus provident quae quas quis quisquam rem reprehenderit saepe sapiente sunt totam ullam voluptatibus voluptatum! Alias architecto autem debitis distinctio dolore eos error, esse, harum ipsam magnam numquam perferendis quisquam quo saepe soluta temporibus?</p>

    <h3 class="prz-h3-c">3. How we use and disclose your information</h3>
    <div class="prz-p-a">
      <div class="prz-ul-a">
        <div class="prz-ul-a-item mb25">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="prz-ul-a-item mb25">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="prz-ul-a-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <h3 class="prz-h3-c">Contacts</h3>
    <div class="prz-p-a">
      <p class="prz-p-a-strong mb25">
        <strong>Dimitri Boch Zuzek - CEO:</strong>
      </p>
      <p class="prz-p-a-strong">
        <strong>E-mail:</strong>
        dimitri@parazhit.com
      </p>
      <p class="prz-p-a-strong">
        <strong>Phone:</strong>
        +33(0)660431302
      </p>
    </div>

    <button class="prz-btn-b_a grd1">
      Apply for this position
    </button>
  </div>

  <div class="prz-block-b">
    <div class="prz-wp-head-a prz-brd-b">
      <div class="prz-h3-a">Jobs</div>
    </div>


    <div class="prz-block-b-body">
      <div class="pall20 pb70">
        <div class="prz-box-k w100p" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
          <div class="prz-box-k-info">
            <a href="#/job-item" class="prz-box-k-h2">Lorem ipsum.</a>
            <p class="prz-box-k-p">location: <a href="">Netherlands</a></p>
          </div>

          <div class="prz-box-k-tags">
            <span class="prz-btn-e">Part-Time</span>
            <span class="prz-btn-e">Allows Remote</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
