<div class="prz-popup" style="display: none;">
  <div class="prz-popup-a">
    <div class="prz-popup-head">
      <h3 class="prz-h3-b">Added to bag</h3>
      <button class="prz-btn-a">x</button>
    </div>

    <div class="prz-popup-body">
      <div class="prz-popup-body-img">
        <div class="prz-popup-body-img-bg" style="background: url(http://dummyimage.com/140x140/333333/ffffff) center no-repeat;"></div>
      </div>

      <div class="prz-popup-body-info">
        <h3 class="prz-h3-a">Lorem ipsum.</h3>

        <h5 class="prz-h5">Lorem ipsum.</h5>
        <h5 class="prz-h5">Lorem ipsum.</h5>
        <h5 class="prz-h5">Lorem ipsum.</h5>
      </div>
    </div>

    <hr class="prz-hr mn">

    <div class="prz-popup-footer">
      <button class="prz-btn-b grd1 w100p">Add to Bag</button>
    </div>
  </div>
</div>

<div class="prz-popup" style="display: none;">
  <div class="prz-popup-img">
    <div class="prz-shop-imgs-bg" style="background: url(http://static.wixstatic.com/media/26d58c_15a55208d1e34593b3af51bbe3228d04.jpg) center no-repeat;"></div>
  </div>
</div>

<div class="prz-popup" style="display: none;">
  <div class="prz-popup-b">
    <div class="prz-popup-head mb5">
      <button class="prz-popup-close">x</button>
      <h3 class="prz-h1-a w100p mn tac">Playlist Submission</h3>
    </div>


    <div class="prz-popup-body-a">
      <div class="prz-input-two w100p">
        <label class="prz-input">
          <span class="prz-input-title">Artist name</span>
          <span class="prz-input-in"><input type="text" placeholder="Artist..."></span>
        </label>
        <label class="prz-input invalid">
          <span class="prz-input-title">track name</span>
          <span class="prz-input-in"><input type="text" placeholder="Artist..."></span>
          <span class="prz-input-err">Incorrect Track Name</span>
        </label>
      </div>

      <label class="prz-input w100p valid">
        <span class="prz-input-title">type</span>
        <span class="prz-input-in"><input type="text" placeholder="Type..."></span>
      </label>


      <div class="prz-captcha mv30">
        <div class="prz-captcha-title">please verify that you are human</div>
        <div class="prz-captcha-box">
          <div class="prz-captcha-box-cap"></div>
          <input type="text" class="prz-captcha-box-input">
        </div>
      </div>


      <div class="wp-btw_cen">
        <button class="prz-link-a mr40">Cancel</button>

        <button class="prz-btn-b grd1">Send Track</button>
      </div>
    </div>
  </div>
</div>

<div class="prz-popup" style="display: none;">
  <div class="prz-popup-b">
    <div class="prz-popup-head mb50 tac">
      <button class="prz-popup-close">x</button>
      <h3 class="prz-h1-a w100p mb10">Thank you</h3>
      <p class="prz-p w100p">Your track will be added to a Parazhit Radio Playlist.</p>
    </div>


    <div class="prz-popup-body-a">
      <div class="tac">
        <button class="prz-btn-b grd1">OK</button>
      </div>
    </div>
  </div>
</div>
