<div class="prz-wp-head-a">
  <div class="prz-content-head-title mh15">
    <h2 class="prz-h3-c">Applications</h2>
  </div>
</div>

<div class="prz-wp-f ovs">
  <div class="prz-box-f">
    <div class="prz-box-f-img">
      <div class="prz-box-f-img-bg" style="background: url(i/app1.png) center no-repeat;"></div>
    </div>

    <div class="prz-box-f-info">
      <h3 class="prz-h3-c">Lorem ipsum dolor.</h3>
      <p class="prz-p">Lorem ipsum dolor sit amet, consectetur adipisicing elos dolores id maxime nulla quam quis ratione.</p>
      <button class="prz-btn-d">
        <b class="prz-i-apple mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    App Store
                </span>
      </button>
      <button class="prz-btn-d">
        <b class="prz-i-market mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    Google play
                </span>
      </button>

      <div class="prz-box-f-info-copy">&copy;Parazhit Radio</div>
    </div>
  </div>

  <div class="prz-box-f">
    <div class="prz-box-f-img">
      <div class="prz-box-f-img-bg" style="background: url(i/app2.png) center no-repeat;"></div>
    </div>

    <div class="prz-box-f-info">
      <h3 class="prz-h3-c">Lorem ipsum dolor.</h3>
      <p class="prz-p">Lorem ipsum dolor sit amet, consectetur adipisicing elos dolores id maxime nulla quam quis ratione.</p>
      <button class="prz-btn-d">
        <b class="prz-i-apple mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    App Store
                </span>
      </button>
      <button class="prz-btn-d">
        <b class="prz-i-market mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    Google play
                </span>
      </button>

      <div class="prz-box-f-info-copy">&copy;Parazhit Radio</div>
    </div>
  </div>

  <div class="prz-box-f">
    <div class="prz-box-f-img">
      <div class="prz-box-f-img-bg" style="width: 80%;margin-left: auto;background: url(i/app3.png) center no-repeat;"></div>
    </div>

    <div class="prz-box-f-info">
      <h3 class="prz-h3-c">Lorem ipsum dolor.</h3>
      <p class="prz-p">Lorem ipsum dolor sit amet, consectetur adipisicing elos dolores id maxime nulla quam quis ratione.</p>
      <button class="prz-btn-d">
        <b class="prz-i-apple mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    App Store
                </span>
      </button>
      <button class="prz-btn-d">
        <b class="prz-i-market mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    Google play
                </span>
      </button>

      <div class="prz-box-f-info-copy">&copy;Parazhit Radio</div>
    </div>
  </div>

  <div class="prz-box-f">
    <div class="prz-box-f-img">
      <div class="prz-box-f-img-bg" style="width: 80%;margin: 0 auto;background: url(i/logo.png) center no-repeat;"></div>
    </div>

    <div class="prz-box-f-info">
      <h3 class="prz-h3-c">Lorem ipsum dolor.</h3>
      <p class="prz-p">Lorem ipsum dolor sit amet, consectetur adipisicing elos dolores id maxime nulla quam quis ratione.</p>
      <button class="prz-btn-d">
        <b class="prz-i-apple mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    App Store
                </span>
      </button>
      <button class="prz-btn-d">
        <b class="prz-i-market mr15"></b>
                <span class="prz-btn-d-text">
                    <b>Available on the</b>
                    Google play
                </span>
      </button>

      <div class="prz-box-f-info-copy">&copy;Parazhit Radio</div>
    </div>
  </div>
</div>
