<div class="prz-wp-head-a prz-brd-b wp-btw_cen">
  <div class="prz-content-head-title">
    <h2 class="prz-h3-c">Shop</h2>
    <a href="#/" class="prz-link-au">Home</a>
    <a href="" class="prz-link-a">Men</a>
    <a href="" class="prz-link-a">Women</a>
    <a href="" class="prz-link-a">Hats</a>
    <a href="" class="prz-link-a">Accessoires</a>
  </div>

  <div class="prz-content-head-links">
    <a href="" class="prz-link-a">Order Information</a>
    <a href="" class="prz-link-a">Shipping Information</a>
    <a href="" class="prz-link-a">Return & Exchange Policy</a>
  </div>
</div>

<div class="prz-wp-c ovs pall10 pb70 wp-btw">
  <a [routerLink]="['shop-item']" class="prz-box-b" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
    <div class="prz-box-b-bg" style="background: url(http://dummyimage.com/255x315/333333/ffffff) center no-repeat;"></div>
    <div class="prz-box-b-info">
      <h5 class="prz-h4">Lorem ipsum dolor sit.</h5>
      <h5 class="prz-h5">$ 55.55 EUR</h5>
    </div>

    <span class="prz-box-b-hover">
        <button class="prz-btn-b_w">View</button>
    </span>
  </a>
</div>
















<div class="prz-wp-head-a wp-btw_cen prz-brd-b">
  <h2 class="prz-h3-c mh15">Events</h2>

  <div>
    Event type
        <span class="prz-select">
            <button class="prz-select-btn">
                <span>Chrome a style...</span>
                <b class="prz-i-triangle_b"></b>
            </button>

            <span class="prz-select-drop">
                <button class="prz-select-drop-item">Middle</button>
                <button class="prz-select-drop-item">Bottom</button>
            </span>
        </span>
  </div>

  <div>
    Location
        <span class="prz-select">
            <button class="prz-select-btn">
                <span>Chrome a style...</span>
                <b class="prz-i-triangle_b"></b>
            </button>

            <span class="prz-select-drop">
                <button class="prz-select-drop-item">Middle</button>
                <button class="prz-select-drop-item">Bottom</button>
            </span>
        </span>
  </div>
</div>


<div class="prz-content-body-c ovs pb70">
  <div class="prz-box-h" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
        <span class="prz-box-h-day">
            <b>30</b>
            JUN
        </span>
    <span class="prz-box-h-bg" style="background: url(http://dummyimage.com/255x315/333333/ffffff) center no-repeat;"></span>
        <span class="prz-box-h-footer">
            <span class="prz-h3-b">Lorem ipsum.</span>
            <span class="prz-p">Lorem ipsum / <span>Lorem ipsum</span></span>
        </span>

        <span class="prz-box-h-hover">
            <span class="prz-box-middle">
                <button class="prz-btn-d mb10">Buy Tickets</button>
                <button class="prz-btn-b_o w100p">Event Tickets</button>
            </span>
        </span>
  </div>
</div>
