<div class="prz-wp-d wp-btw">
  <div class="prz-menu-open">
    <button class="trfM prz-btn-0"><b class="prz-i-dragdrop"></b></button>
  </div>

  <div class="prz-block-h">

  </div>

  <div class="prz-block-j prz-brd-l">
    <div class="prz-content-head-c ph20 wp-btw_cen">
      <h2 class="prz-h3_ico">
        <b class="prz-i-tracks mr10"></b>
        <span class="dibM">Artist timetable</span>
      </h2>

      <button class="prz-btn-o"><b class="prz-i-close"></b></button>
    </div>

    <div class="prz-con-form-body pall20 pb70">
      <div class="prz-box-p mb10" *ngFor="let i of [0,1,2,3,4,5]">
        <div class="prz-box-p-fst">
          <h3 class="prz-h3-b">Jun, 05</h3>
          <p class="prz-p">02:00 AM</p>
        </div>
        <div class="prz-box-p-snd">
          <h3 class="prz-h3-b">Ibiza</h3>
          <p class="prz-p">Spain</p>
        </div>
        <div class="prz-box-p-trd">
          <a href="" class="prz-link-a">Remind me</a>
        </div>
      </div>
    </div>
  </div>
</div>
