<div class="prz-bg" style="background: url(i/bg2.png) 0 0 no-repeat;"></div>

<div class="h100p">
  <div class="prz-main-top">
    <div class="prz-main-top-left">
      <div class="prz-main-btns">
        <button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button>
        <button class="prz-btn-a"><b class="prz-i-triangle"></b></button>
      </div>

      <div class="prz-main-info">
        <h2 class="prz-h2-ico">
          <b class="prz-h2-ico-i prz-i-user"></b>
          <span>Steve Aoki</span>
        </h2>
        <h4 class="prz-h4">Lorem ipsum dolor sit amet.</h4>
        <button class="prz-btn-b grd1">More</button>
        <button class="prz-btn-b bs1">Also</button>
      </div>
      <div class="prz-main-more">
        <div class="prz-box-a" style="background: url(http://dummyimage.com/250x250/ad0a0a/ffffff) center no-repeat;">
          <div class="prz-box-a-btns">
            <button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button>
            <button class="prz-btn-a "><b class="prz-i-triangle"></b></button>
          </div>

          <div class="prz-box-a-info">
            <h3 class="prz-h3">Lorem ipsum.</h3>
            <h5 class="prz-h5 wp-btw">
              <span>33 tracks</span>
              <a href="" class="prz-link-u">View All</a>
            </h5>
          </div>
        </div>

        <div class="prz-box-deliver"></div>

        <div class="prz-box-a" style="background: url(http://dummyimage.com/250x250/ad0a0a/ffffff) center no-repeat;">
          <div class="prz-box-a-btns">
            <button class="prz-btn-a"><b class="prz-i-triangle_l"></b></button>
            <button class="prz-btn-a "><b class="prz-i-triangle"></b></button>
          </div>

          <div class="prz-box-a-info">
            <h3 class="prz-h3">Lorem ipsum.</h3>
            <h5 class="prz-h5 wp-btw">
              <span>33 tracks</span>
              <a href="" class="prz-link-u">View All</a>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="prz-main-top-right">
      <div class="prz-chart">
        <div class="prz-chart-top">
          <h2 class="prz-h3-a">
            <b class="prz-i-cart mr5"></b>
            <span class="dibM">Chart</span>
          </h2>

          <div class="prz-select">
            <button class="prz-select-btn">
              <span>Top</span>
              <b class="prz-i-triangle_b"></b>
            </button>

            <div class="prz-select-drop">
              <button class="prz-select-drop-item">Middle</button>
              <button class="prz-select-drop-item">Bottom</button>
            </div>
          </div>
        </div>

        <div class="prz-chart-list ovs">
          <div class="prz-chart-item" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
            <div class="prz-chart-item-img" style="background: url(http://dummyimage.com/48x48/ad0a0a/ffffff) center no-repeat;"></div>

            <div class="prz-chart-item-info">
              <h4 class="prz-h4">Lorem ipsum sit.</h4>
              <h5 class="prz-h5">Lorem ipsum.</h5>
            </div>

            <div class="prz-chart-item-plus">
              <b class="prz-i-plus"></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="prz-main-bottom ovs pb70">
    <div class="prz-main-bottom-head">
      <div class="pl25">
        <h3 class="prz-h3-b">
          <b class="prz-i-tracks mr10"></b>
          <span class="dibM">Latest tracks</span>
        </h3>
      </div>


      <div class="prz-main-bottom-head-right">
        <div class="prz-select">
          <button class="prz-select-btn">
            <span>new release</span>
            <b class="prz-i-triangle_b"></b>
          </button>

          <div class="prz-select-drop">
            <button class="prz-select-drop-item">Middle</button>
            <button class="prz-select-drop-item">Bottom</button>
          </div>
        </div>


        <div class="prz-main-bottom-btns">
          <button class="prz-btn-a inactive"><b class="prz-i-triangle_l"></b></button>
          <button class="prz-btn-a"><b class="prz-i-triangle"></b></button>
        </div>
      </div>
    </div>

    <div class="prz-main-bottom-latest">
      <div class="prz-main-bottom-item" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" style="background: url(http://dummyimage.com/180x180/ad0a0a/ffffff) center no-repeat;">
        <div class="prz-main-bottom-item-info">
          <div class="prz-main-bottom-item-info-text">
            <h4 class="prz-h4">Lorem ipsum sit.</h4>
            <h5 class="prz-h5">Lorem ipsum.</h5>
          </div>

          <div class="prz-chart-item-plus">
            <b class="prz-i-plus"></b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
