<div class="prz-bg" style="background: url(i/bg2.png) 0 0 no-repeat;"></div>

<div class="prz-wp-d wp-btw">
  <div class="prz-block-d ovs pb90">
    <p class="prz-p mb10">Lorem ipsum.</p>
    <h1 class="prz-h1 mb10">Lorem ipsum dolor.</h1>
    <button class="prz-btn-b grd1 mr5">Radio Show</button>
    <div class="dibM"><a href="" class="prz-btn-f"><b class="prz-i-f-a"></b></a></div>
    <div class="dibM"><a href="" class="prz-btn-f"><b class="prz-i-t-b"></b></a></div>
    <div class="dibM"><a href="" class="prz-btn-f"><b class="prz-i-g-a"></b></a></div>

    <div class="mv35">
      <h3 class="prz-h3-b pb15">Lorem ipsum.</h3>
      <p class="prz-p mb10">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem hic laboriosam molestiae quisquam? Accusantium architecto consequatur deserunt, dicta eveniet expedita impedit incidunt ipsam mollitia nulla quis quisquam quos vel velit.
      </p>
      <div>
        <a href="" class="prz-link-a mn">Read More</a>
      </div>
    </div>

    <h3 class="prz-h3-b pb15">Lorem ipsum dolor.</h3>
    <div class="prz-box-o-item w100p">
      <div class="prz-box-o-item-btns">
        <button class="prz-btn-a"><b class="prz-i-triangle_t"></b></button>
        <button class="prz-btn-a"><b class="prz-i-triangle_b"></b></button>
      </div>

      <div class="prz-box-o-item-a-two">
        <div class="prz-box-o-item-a mb20" *ngFor="let i of [0,1,2,3,4,5]">
          <div class="prz-box-o-item-a-img"><b class="prz-i-t-a"></b></div>

          <h4 class="prz-h4 mn">Lorem ipsum riosam, rem?</h4>
          <p class="prz-p">Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="prz-block-e">
    <div class="prz-wp-head-a prz-brd-b ">
      <h2 class="prz-h3_ico">
        <b class="prz-i-tracks mr10"></b>
        <span class="dibM">Steve Aoki</span>
      </h2>
    </div>

    <div class="prz-wp-c pall20 ovs ovs pb70">
      <iframe class="mb20" *ngFor="let i of [0,1,2]" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
  </div>
</div>
